In [6]:
import pandas as pd
import numpy as np
df=pd.read_csv(r'change.org_topic_0_lockdowns.csv')
df.head()

,text,annotation_96,annotation_53,annotation_93,annotation_94,annotation_95
0,Language Education in the Time of COVID-19,False,False,False,False,False
1,COVID-19 Test Kits,False,False,False,False,False
2,COVID 19 IN PRISON,False,False,False,False,False
3,Get Waled Home,False,False,False,False,False
4,Make pass/fail available for Mississippi State...,False,False,False,False,False

In [41]:
text=[]
ann_96=[]
ann_53=[]
ann_93=[]
ann_94=[]
ann_95=[]

final_data=[]
score=[]
for i in df['text']:
    text.append(i)
for i in df['annotation_96']:
    if i==False:
        ann_96.append(0)
    else:
        ann_96.append(1)
for i in df['annotation_53']:
    if i==False:
        ann_53.append(0)
    else:
        ann_53.append(1)
for i in df['annotation_93']:
    if i==False:
        ann_93.append(0)
    else:
        ann_93.append(1)
for i in df['annotation_94']:
    if i==False:
        ann_94.append(0)
    else:
        ann_94.append(1)
for i in df['annotation_95']:
    if i==False:
        ann_95.append(0)
    else:
        ann_95.append(1)
text=np.array(text)
ann_96=np.array(ann_96)
ann_53=np.array(ann_53)
ann_93=np.array(ann_93)
ann_94=np.array(ann_94)
ann_95=np.array(ann_95)
count = ann_96+ann_53+ann_93+ann_94+ann_95
for i in count:
    if i<3:
        score.append(False)
    else:
        score.append(True)
#data.append([text,ann_96,ann_53,ann_93,ann_94,ann_95,score])
#final_df = pd.DataFrame(data)
#final_df
df['Score']=score
df

,text,annotation_96,annotation_53,annotation_93,annotation_94,annotation_95,Score
0,Language Education in the Time of COVID-19,False,False,False,False,False,False
1,COVID-19 Test Kits,False,False,False,False,False,False
2,COVID 19 IN PRISON,False,False,False,False,False,False
3,Get Waled Home,False,False,False,False,False,False
4,Make pass/fail available for Mississippi State...,False,False,False,False,False,False
...,...,...,...,...,...,...,...
295,Cancellation of Lebanese Official Exams for 20...,False,False,True,True,False,False
296,Hazard pay for essential employees working wit...,False,False,False,False,False,False
297,Stop children being weighed in school without ...,False,False,False,False,False,False
298,Allow Visitors for Covid-19 Patients,True,False,False,False,False,False
299,Exigimos acciones de control y salud en la Res...,False,False,False,False,False,False