In [154]:
import pandas as pd
import numpy as np
from sklearn.metrics import cohen_kappa_score

# NYT_topic_0:

# Calculating Kappa score for annotations in NYT_topic_0_lockdowns

In [155]:
df=pd.read_csv(r"C:\Users\Kriti\Desktop\College-Academics\NLP\Project Phase 2-\nyt_topic\nyt_topic_0_lockdowns.csv")

In [156]:
df.head()

,text,annotation_41,annotation_67,annotation_19,annotation_55
0,What do you mean that the pandemic has stretch...,False,False,False,False
1,I’m not sure if it qualifies as Big Brother wh...,False,False,False,False
2,What if smallpox and polio came roaring back o...,False,False,False,False
3,"I'm continuing to wear a mask. Even in bed, s...",False,False,False,False
4,"Although my husband and I really, really miss ...",False,True,False,False

In [157]:
print(df['annotation_41'].isnull().sum())
print(df['annotation_67'].isnull().sum())
print(df['annotation_19'].isnull().sum())
print(df['annotation_55'].isnull().sum())
print(df['text'].isnull().sum())

0
0
0
0
0

### Cohen_kappa average score of annotation 41

In [158]:
def cohen_avg_41():
    cohen_score_41_67 = cohen_kappa_score(df['annotation_41'],df['annotation_67'])
    cohen_score_41_19 = cohen_kappa_score(df['annotation_41'],df['annotation_19'])
    cohen_score_41_55 = cohen_kappa_score(df['annotation_41'],df['annotation_55'])
    cohen_score_average_41 = round((cohen_score_41_67 + cohen_score_41_19 + cohen_score_41_55)/3,3)
   # print("Average Cohen Kappa Score for annotation 41:",(cohen_score_average_41))
    return cohen_score_average_41

In [159]:
cohen_avg_41()

0.387

### Cohen Kappa average score for annotation_67

In [160]:
def cohen_avg_67():
    cohen_score_67_41 = cohen_kappa_score(df['annotation_67'],df['annotation_41'])
    cohen_score_67_19 = cohen_kappa_score(df['annotation_67'],df['annotation_19'])
    cohen_score_67_55 = cohen_kappa_score(df['annotation_67'],df['annotation_55'])
    cohen_score_average_67 = round((cohen_score_67_41 + cohen_score_67_19 + cohen_score_67_55)/3,3)
   # print("Average Cohen Kappa Score for annotation 67:",(cohen_score_average_67))
    return cohen_score_average_67

In [161]:
cohen_avg_67()

0.411

### Cohen Kappa average score for annotation_19

In [162]:
def cohen_avg_19():
    cohen_score_19_41 = cohen_kappa_score(df['annotation_19'],df['annotation_41'])
    cohen_score_19_67 = cohen_kappa_score(df['annotation_19'],df['annotation_67'])
    cohen_score_19_55 = cohen_kappa_score(df['annotation_19'],df['annotation_55'])
    cohen_score_average_19 = round((cohen_score_19_41 + cohen_score_19_67 + cohen_score_19_55)/3,3)
    #print("Average Cohen Kappa Score for annotation 19:",(cohen_score_average_19))
    return cohen_score_average_19

In [163]:
cohen_avg_19()

0.446

### Cohen Kappa average score for annotation_55

In [164]:
def cohen_avg_55():
    cohen_score_55_41 = cohen_kappa_score(df['annotation_55'],df['annotation_41'])
    cohen_score_55_67 = cohen_kappa_score(df['annotation_55'],df['annotation_67'])
    cohen_score_55_19 = cohen_kappa_score(df['annotation_55'],df['annotation_19'])
    cohen_score_average_55 = round((cohen_score_55_41 + cohen_score_55_67 + cohen_score_55_19)/3,3)
    #print("Average Cohen Kappa Score for annotation 55:",(cohen_score_average_55))
    return cohen_score_average_55

In [165]:
cohen_avg_55()

0.528

In [166]:
def finalLabel(df):
    for index, rows in df.iterrows():
        #print(index, rows['text'])
        compare = [[cohen_avg_41(),rows['annotation_41']],
                       [cohen_avg_67(),rows['annotation_67']],
                   [cohen_avg_19(),rows['annotation_19']],
                   [cohen_avg_55(),rows['annotation_55']]]
        
        boolean = [rows['annotation_41'],rows['annotation_67'],rows['annotation_19'],rows['annotation_55']]
        
        compare.sort(key = lambda k:k[0])
        t = compare.count('True')
        f = compare.count('False')
        #print('True:',t, 'False', f)
        
        if t == f: 
            kapaValue, colValue = compare[-1]
            df.loc[index, 'final_label'] = colValue
            
        elif t!=f:
            if t > f:
                df.loc[index, 'final_label'] = True
            else:
                df.loc[index, 'final_label'] = False
    
finalLabel(df)
df = df.iloc[:,[0,-1]]
df.head()

                                                text final_label
0  What do you mean that the pandemic has stretch...       False
1  I’m not sure if it qualifies as Big Brother wh...       False
2  What if smallpox and polio came roaring back o...       False
3  I'm continuing to wear a mask.  Even in bed, s...       False
4  Although my husband and I really, really miss ...       False

In [167]:
df.to_csv(r'C:\Users\Kriti\Desktop\College-Academics\NLP\Project Phase 2-\nyt_topic_new\nyt_topic_0_lockdowns.csv',
           index = False)

## Calculating Kappa score for annotations in NYT_topic_0_masking_and_distancing

In [180]:
df=pd.read_csv(r"C:\Users\Kriti\Desktop\College-Academics\NLP\Project Phase 2-\nyt_topic\nyt_topic_0_masking_and_distancing.csv")

In [181]:
df.head()

,text,annotation_41,annotation_67,annotation_19,annotation_55
0,What do you mean that the pandemic has stretch...,False,False,False,False
1,I’m not sure if it qualifies as Big Brother wh...,False,False,False,False
2,What if smallpox and polio came roaring back o...,False,False,False,False
3,"I'm continuing to wear a mask. Even in bed, s...",False,True,False,True
4,"Although my husband and I really, really miss ...",False,False,True,False

In [182]:
print(df['annotation_41'].isnull().sum())
print(df['annotation_67'].isnull().sum())
print(df['annotation_19'].isnull().sum())
print(df['annotation_55'].isnull().sum())
print(df['text'].isnull().sum())

0
0
0
0
0

### Cohen_kappa average score of annotation 41

In [183]:
def cohen_avg_41():
    cohen_score_41_67 = cohen_kappa_score(df['annotation_41'],df['annotation_67'])
    cohen_score_41_19 = cohen_kappa_score(df['annotation_41'],df['annotation_19'])
    cohen_score_41_55 = cohen_kappa_score(df['annotation_41'],df['annotation_55'])
    cohen_score_average_41 = round((cohen_score_41_67 + cohen_score_41_19 + cohen_score_41_55)/3,3)
   # print("Average Cohen Kappa Score for annotation 41:",(cohen_score_average_41))
    return cohen_score_average_41

In [184]:
cohen_avg_41()

0.618

### Cohen_kappa average score of annotation 67

In [185]:
def cohen_avg_67():
    cohen_score_67_41 = cohen_kappa_score(df['annotation_67'],df['annotation_41'])
    cohen_score_67_19 = cohen_kappa_score(df['annotation_67'],df['annotation_19'])
    cohen_score_67_55 = cohen_kappa_score(df['annotation_67'],df['annotation_55'])
    cohen_score_average_67 = round((cohen_score_67_41 + cohen_score_67_19 + cohen_score_67_55)/3,3)
   # print("Average Cohen Kappa Score for annotation 67:",(cohen_score_average_67))
    return cohen_score_average_67

In [186]:
cohen_avg_67()

0.679

### Cohen_kappa average score of annotation 19:

In [187]:
def cohen_avg_19():
    cohen_score_19_41 = cohen_kappa_score(df['annotation_19'],df['annotation_41'])
    cohen_score_19_67 = cohen_kappa_score(df['annotation_19'],df['annotation_67'])
    cohen_score_19_55 = cohen_kappa_score(df['annotation_19'],df['annotation_55'])
    cohen_score_average_19 = round((cohen_score_19_41 + cohen_score_19_67 + cohen_score_19_55)/3,3)
    #print("Average Cohen Kappa Score for annotation 19:",(cohen_score_average_19))
    return cohen_score_average_19

In [188]:
cohen_avg_19()

0.56

### Cohen_kappa average score of annotation 55:

In [189]:
def cohen_avg_55():
    cohen_score_55_41 = cohen_kappa_score(df['annotation_55'],df['annotation_41'])
    cohen_score_55_67 = cohen_kappa_score(df['annotation_55'],df['annotation_67'])
    cohen_score_55_19 = cohen_kappa_score(df['annotation_55'],df['annotation_19'])
    cohen_score_average_55 = round((cohen_score_55_41 + cohen_score_55_67 + cohen_score_55_19)/3,3)
    #print("Average Cohen Kappa Score for annotation 55:",(cohen_score_average_55))
    return cohen_score_average_55

In [190]:
cohen_avg_55()

0.691

In [191]:
def finalLabel(df):
    for index, rows in df.iterrows():
        #print(index, rows['text'])
        compare = [[cohen_avg_41(),rows['annotation_41']],
                       [cohen_avg_67(),rows['annotation_67']],
                   [cohen_avg_19(),rows['annotation_19']],
                   [cohen_avg_55(),rows['annotation_55']]]
        
        boolean = [rows['annotation_41'],rows['annotation_67'],rows['annotation_19'],rows['annotation_55']]
        
        compare.sort(key = lambda k:k[0])
        t = compare.count('True')
        f = compare.count('False')
        #print('True:',t, 'False', f)
        
        if t == f: 
            kapaValue, colValue = compare[-1]
            df.loc[index, 'final_label'] = colValue
            
        elif t!=f:
            if t > f:
                df.loc[index, 'final_label'] = True
            else:
                df.loc[index, 'final_label'] = False
    
finalLabel(df)
df = df.iloc[:,[0,-1]]
df.head()

                                                text final_label
0  What do you mean that the pandemic has stretch...       False
1  I’m not sure if it qualifies as Big Brother wh...       False
2  What if smallpox and polio came roaring back o...       False
3  I'm continuing to wear a mask.  Even in bed, s...        True
4  Although my husband and I really, really miss ...       False

In [192]:
df.to_csv(r'C:\Users\Kriti\Desktop\College-Academics\NLP\Project Phase 2-\nyt_topic_new\nyt_topic_0_masking_and_distancing.csv',
           index = False)

## Calculating Kappa score for annotations in NYT_topic_0_vaccincation

In [193]:
df=pd.read_csv(r"C:\Users\Kriti\Desktop\College-Academics\NLP\Project Phase 2-\nyt_topic\nyt_topic_0_vaccination.csv")

In [194]:
df.head()

,text,annotation_41,annotation_67,annotation_19,annotation_55
0,What do you mean that the pandemic has stretch...,False,False,False,False
1,I’m not sure if it qualifies as Big Brother wh...,False,False,False,False
2,What if smallpox and polio came roaring back o...,True,True,True,True
3,"I'm continuing to wear a mask. Even in bed, s...",False,True,True,True
4,"Although my husband and I really, really miss ...",False,False,False,False

In [195]:
print(df['annotation_41'].isnull().sum())
print(df['annotation_67'].isnull().sum())
print(df['annotation_19'].isnull().sum())
print(df['annotation_55'].isnull().sum())
print(df['text'].isnull().sum())

0
0
0
0
0

### Cohen_kappa average score of annotation 41

In [196]:
def cohen_avg_41():
    cohen_score_41_67 = cohen_kappa_score(df['annotation_41'],df['annotation_67'])
    cohen_score_41_19 = cohen_kappa_score(df['annotation_41'],df['annotation_19'])
    cohen_score_41_55 = cohen_kappa_score(df['annotation_41'],df['annotation_55'])
    cohen_score_average_41 = round((cohen_score_41_67 + cohen_score_41_19 + cohen_score_41_55)/3,3)
    #print("Average Cohen Kappa Score for annotation 41:",(cohen_score_average_41))
    return cohen_score_average_41

In [197]:
cohen_avg_41()

0.472

### Cohen_kappa average score of annotation 67:

In [198]:
def cohen_avg_67():
    cohen_score_67_41 = cohen_kappa_score(df['annotation_67'],df['annotation_41'])
    cohen_score_67_19 = cohen_kappa_score(df['annotation_67'],df['annotation_19'])
    cohen_score_67_55 = cohen_kappa_score(df['annotation_67'],df['annotation_55'])
    cohen_score_average_67 = round((cohen_score_67_41 + cohen_score_67_19 + cohen_score_67_55)/3,3)
   # print("Average Cohen Kappa Score for annotation 67:",(cohen_score_average_67))
    return cohen_score_average_67

In [199]:
cohen_avg_67()

0.617

### Cohen_kappa average score of annotation 19:

In [200]:
def cohen_avg_19():
    cohen_score_19_41 = cohen_kappa_score(df['annotation_19'],df['annotation_41'])
    cohen_score_19_67 = cohen_kappa_score(df['annotation_19'],df['annotation_67'])
    cohen_score_19_55 = cohen_kappa_score(df['annotation_19'],df['annotation_55'])
    cohen_score_average_19 = round((cohen_score_19_41 + cohen_score_19_67 + cohen_score_19_55)/3,3)
    #print("Average Cohen Kappa Score for annotation 19:",(cohen_score_average_19))
    return cohen_score_average_19

In [201]:
cohen_avg_19()

0.64

###  Cohen_kappa average score of annotation 55:

In [202]:
def cohen_avg_55():
    cohen_score_55_41 = cohen_kappa_score(df['annotation_55'],df['annotation_41'])
    cohen_score_55_67 = cohen_kappa_score(df['annotation_55'],df['annotation_67'])
    cohen_score_55_19 = cohen_kappa_score(df['annotation_55'],df['annotation_19'])
    cohen_score_average_55 = round((cohen_score_55_41 + cohen_score_55_67 + cohen_score_55_19)/3,3)
    #print("Average Cohen Kappa Score for annotation 55:",(cohen_score_average_55))
    return cohen_score_average_55

In [203]:
cohen_avg_55()

0.675

In [204]:
def finalLabel(df):
    for index, rows in df.iterrows():
        #print(index, rows['text'])
        compare = [[cohen_avg_41(),rows['annotation_41']],
                       [cohen_avg_67(),rows['annotation_67']],
                   [cohen_avg_19(),rows['annotation_19']],
                   [cohen_avg_55(),rows['annotation_55']]]
        
        boolean = [rows['annotation_41'],rows['annotation_67'],rows['annotation_19'],rows['annotation_55']]
        
        compare.sort(key = lambda k:k[0])
        t = compare.count('True')
        f = compare.count('False')
        #print('True:',t, 'False', f)
        
        if t == f: 
            kapaValue, colValue = compare[-1]
            df.loc[index, 'final_label'] = colValue
            
        elif t!=f:
            if t > f:
                df.loc[index, 'final_label'] = True
            else:
                df.loc[index, 'final_label'] = False
    
finalLabel(df)
df = df.iloc[:,[0,-1]]
df.head()

                                                text final_label
0  What do you mean that the pandemic has stretch...       False
1  I’m not sure if it qualifies as Big Brother wh...       False
2  What if smallpox and polio came roaring back o...        True
3  I'm continuing to wear a mask.  Even in bed, s...        True
4  Although my husband and I really, really miss ...       False

In [205]:
df.to_csv(r'C:\Users\Kriti\Desktop\College-Academics\NLP\Project Phase 2-\nyt_topic_new\nyt_topic_0_vaccination.csv',
           index = False)

# NYT_topic_1:

## Calculating Kappa score for annotations in NYT_topic_1_lockdowns:

In [206]:
df=pd.read_csv(r"C:\Users\Kriti\Desktop\College-Academics\NLP\Project Phase 2-\nyt_topic\nyt_topic_1_lockdowns.csv")

In [207]:
df.head()

,text,annotation_65,annotation_66,annotation_68,annotation_69
0,To all those who gloat “elections have consequ...,False,False,False,False
1,Corporations and health privacy in the US? How...,False,False,False,False
2,No. Done with it.,False,False,False,False
3,I have not eaten outside my house since March....,False,True,True,True
4,More people die each day in US from the virus ...,False,False,False,False

In [208]:
print(df['annotation_65'].isnull().sum())
print(df['annotation_66'].isnull().sum())
print(df['annotation_68'].isnull().sum())
print(df['annotation_69'].isnull().sum())
print(df['text'].isnull().sum())

0
0
0
0
0

### Cohen_kappa average score of annotation 65

In [209]:
def cohen_avg_65():
    cohen_score_65_66 = cohen_kappa_score(df['annotation_65'],df['annotation_66'])
    cohen_score_65_68 = cohen_kappa_score(df['annotation_65'],df['annotation_68'])
    cohen_score_65_69 = cohen_kappa_score(df['annotation_65'],df['annotation_69'])
    cohen_score_average_65 = round((cohen_score_65_66 + cohen_score_65_68 + cohen_score_65_69)/3,3)
    #print("Average Cohen Kappa Score for annotation 65:",(cohen_score_average_65))
    return cohen_score_average_65

In [210]:
cohen_avg_65()

0.389

### Cohen_kappa average score of annotation 66:

In [211]:
def cohen_avg_66():
    cohen_score_66_65 = cohen_kappa_score(df['annotation_66'],df['annotation_65'])
    cohen_score_66_68 = cohen_kappa_score(df['annotation_66'],df['annotation_68'])
    cohen_score_66_69 = cohen_kappa_score(df['annotation_66'],df['annotation_69'])
    cohen_score_average_66 = round((cohen_score_66_65 + cohen_score_66_68 + cohen_score_66_69)/3,3)
    #print("Average Cohen Kappa Score for annotation 66:",(cohen_score_average_66))
    return cohen_score_average_66

In [212]:
cohen_avg_66()

0.381

### Cohen_kappa average score of annotation 68:

In [213]:
def cohen_avg_68():
    cohen_score_68_65 = cohen_kappa_score(df['annotation_68'],df['annotation_65'])
    cohen_score_68_66 = cohen_kappa_score(df['annotation_68'],df['annotation_66'])
    cohen_score_68_69 = cohen_kappa_score(df['annotation_68'],df['annotation_69'])
    cohen_score_average_68 = round((cohen_score_68_65 + cohen_score_68_66 + cohen_score_68_69)/3,3)
    #print("Average Cohen Kappa Score for annotation 68:",(cohen_score_average_68))
    return cohen_score_average_68

In [214]:
cohen_avg_68()

0.458

### Cohen_kappa average score of annotation 69:

In [215]:
def cohen_avg_69():
    cohen_score_69_65 = cohen_kappa_score(df['annotation_69'],df['annotation_65'])
    cohen_score_69_66 = cohen_kappa_score(df['annotation_69'],df['annotation_66'])
    cohen_score_69_68 = cohen_kappa_score(df['annotation_69'],df['annotation_68'])
    cohen_score_average_69 = round((cohen_score_69_65 + cohen_score_69_66 + cohen_score_69_68)/3,3)
    #print("Average Cohen Kappa Score for annotation 69:",(cohen_score_average_69))
    return cohen_score_average_69

In [216]:
cohen_avg_69()

0.408

In [218]:
def finalLabel(df):
    for index, rows in df.iterrows():
        #print(index, rows['text'])
        compare = [[cohen_avg_65(),rows['annotation_65']],
                       [cohen_avg_66(),rows['annotation_66']],
                   [cohen_avg_68(),rows['annotation_68']],
                   [cohen_avg_69(),rows['annotation_69']]]
        
        boolean = [rows['annotation_65'],rows['annotation_66'],rows['annotation_68'],rows['annotation_69']]
        
        compare.sort(key = lambda k:k[0])
        t = compare.count('True')
        f = compare.count('False')
        #print('True:',t, 'False', f)
        
        if t == f: 
            kapaValue, colValue = compare[-1]
            df.loc[index, 'final_label'] = colValue
            
        elif t!=f:
            if t > f:
                df.loc[index, 'final_label'] = True
            else:
                df.loc[index, 'final_label'] = False
    
finalLabel(df)
df = df.iloc[:,[0,-1]]
df.head()

                                                text final_label
0  To all those who gloat “elections have consequ...       False
1  Corporations and health privacy in the US? How...       False
2                                  No. Done with it.       False
3  I have not eaten outside my house since March....        True
4  More people die each day in US from the virus ...       False

In [219]:
df.to_csv(r'C:\Users\Kriti\Desktop\College-Academics\NLP\Project Phase 2-\nyt_topic_new\nyt_topic_1_lockdowns.csv',
           index = False)

## Calculating Kappa score for annotations in nyt_topic_1_masking_and_distancing

In [220]:
df=pd.read_csv(r"C:\Users\Kriti\Desktop\College-Academics\NLP\Project Phase 2-\nyt_topic\nyt_topic_1_masking_and_distancing.csv")

In [221]:
df.head()

,text,annotation_65,annotation_66,annotation_68,annotation_69
0,To all those who gloat “elections have consequ...,False,False,False,False
1,Corporations and health privacy in the US? How...,False,False,False,False
2,No. Done with it.,False,False,False,False
3,I have not eaten outside my house since March....,False,False,False,False
4,More people die each day in US from the virus ...,True,True,True,True

In [222]:
print(df['annotation_65'].isnull().sum())
print(df['annotation_66'].isnull().sum())
print(df['annotation_68'].isnull().sum())
print(df['annotation_69'].isnull().sum())
print(df['text'].isnull().sum())

0
0
0
0
0

### Cohen_kappa average score of annotation 65

In [223]:
def cohen_avg_65():
    cohen_score_65_66 = cohen_kappa_score(df['annotation_65'],df['annotation_66'])
    cohen_score_65_68 = cohen_kappa_score(df['annotation_65'],df['annotation_68'])
    cohen_score_65_69 = cohen_kappa_score(df['annotation_65'],df['annotation_69'])
    cohen_score_average_65 = round((cohen_score_65_66 + cohen_score_65_68 + cohen_score_65_69)/3,3)
    #print("Average Cohen Kappa Score for annotation 65:",(cohen_score_average_65))
    return cohen_score_average_65

In [224]:
cohen_avg_65()

0.718

### Cohen_kappa average score of annotation 66:

In [225]:
def cohen_avg_66():
    cohen_score_66_65 = cohen_kappa_score(df['annotation_66'],df['annotation_65'])
    cohen_score_66_68 = cohen_kappa_score(df['annotation_66'],df['annotation_68'])
    cohen_score_66_69 = cohen_kappa_score(df['annotation_66'],df['annotation_69'])
    cohen_score_average_66 = round((cohen_score_66_65 + cohen_score_66_68 + cohen_score_66_69)/3,3)
   # print("Average Cohen Kappa Score for annotation 66:",(cohen_score_average_66))
    return cohen_score_average_66

In [226]:
cohen_avg_66()

0.816

### Cohen_kappa average score of annotation 68:

In [227]:
def cohen_avg_68():
    cohen_score_68_65 = cohen_kappa_score(df['annotation_68'],df['annotation_65'])
    cohen_score_68_66 = cohen_kappa_score(df['annotation_68'],df['annotation_66'])
    cohen_score_68_69 = cohen_kappa_score(df['annotation_68'],df['annotation_69'])
    cohen_score_average_68 = round((cohen_score_68_65 + cohen_score_68_66 + cohen_score_68_69)/3,3)
    #print("Average Cohen Kappa Score for annotation 68:",(cohen_score_average_68))
    return cohen_score_average_68

In [228]:
cohen_avg_68()

0.78

### Cohen_kappa average score of annotation 69:

In [229]:
def cohen_avg_69():
    cohen_score_69_65 = cohen_kappa_score(df['annotation_69'],df['annotation_65'])
    cohen_score_69_66 = cohen_kappa_score(df['annotation_69'],df['annotation_66'])
    cohen_score_69_68 = cohen_kappa_score(df['annotation_69'],df['annotation_68'])
    cohen_score_average_69 = round((cohen_score_69_65 + cohen_score_69_66 + cohen_score_69_68)/3,3)
    #print("Average Cohen Kappa Score for annotation 69:",(cohen_score_average_69))
    return cohen_score_average_69

In [230]:
cohen_avg_69()

0.761

In [231]:
def finalLabel(df):
    for index, rows in df.iterrows():
        #print(index, rows['text'])
        compare = [[cohen_avg_65(),rows['annotation_65']],
                       [cohen_avg_66(),rows['annotation_66']],
                   [cohen_avg_68(),rows['annotation_68']],
                   [cohen_avg_69(),rows['annotation_69']]]
        
        boolean = [rows['annotation_65'],rows['annotation_66'],rows['annotation_68'],rows['annotation_69']]
        
        compare.sort(key = lambda k:k[0])
        t = compare.count('True')
        f = compare.count('False')
        #print('True:',t, 'False', f)
        
        if t == f: 
            kapaValue, colValue = compare[-1]
            df.loc[index, 'final_label'] = colValue
            
        elif t!=f:
            if t > f:
                df.loc[index, 'final_label'] = True
            else:
                df.loc[index, 'final_label'] = False
    
finalLabel(df)
df = df.iloc[:,[0,-1]]
df.head()

                                                text final_label
0  To all those who gloat “elections have consequ...       False
1  Corporations and health privacy in the US? How...       False
2                                  No. Done with it.       False
3  I have not eaten outside my house since March....       False
4  More people die each day in US from the virus ...        True

In [232]:
df.to_csv(r'C:\Users\Kriti\Desktop\College-Academics\NLP\Project Phase 2-\nyt_topic_new\nyt_topic_1_masking_and_distancing.csv',
           index = False)

## Calculating Kappa score for annotations in nyt_topic_1_vaccination

In [233]:
df=pd.read_csv(r"C:\Users\Kriti\Desktop\College-Academics\NLP\Project Phase 2-\nyt_topic\nyt_topic_1_vaccination.csv")

In [234]:
df.head()

,text,annotation_65,annotation_66,annotation_68,annotation_69
0,To all those who gloat “elections have consequ...,True,True,True,True
1,Corporations and health privacy in the US? How...,False,False,False,False
2,No. Done with it.,False,False,False,False
3,I have not eaten outside my house since March....,False,False,False,False
4,More people die each day in US from the virus ...,False,False,False,False

In [235]:
print(df['annotation_65'].isnull().sum())
print(df['annotation_66'].isnull().sum())
print(df['annotation_68'].isnull().sum())
print(df['annotation_69'].isnull().sum())
print(df['text'].isnull().sum())

0
0
0
0
0

###  Cohen_kappa average score of annotation 65

In [236]:
def cohen_avg_65():
    cohen_score_65_66 = cohen_kappa_score(df['annotation_65'],df['annotation_66'])
    cohen_score_65_68 = cohen_kappa_score(df['annotation_65'],df['annotation_68'])
    cohen_score_65_69 = cohen_kappa_score(df['annotation_65'],df['annotation_69'])
    cohen_score_average_65 = round((cohen_score_65_66 + cohen_score_65_68 + cohen_score_65_69)/3,3)
    #print("Average Cohen Kappa Score for annotation 65:",(cohen_score_average_65))
    return cohen_score_average_65

In [237]:
cohen_avg_65()

0.593

### Cohen_kappa average score of annotation 66:

In [238]:
def cohen_avg_66():
    cohen_score_66_65 = cohen_kappa_score(df['annotation_66'],df['annotation_65'])
    cohen_score_66_68 = cohen_kappa_score(df['annotation_66'],df['annotation_68'])
    cohen_score_66_69 = cohen_kappa_score(df['annotation_66'],df['annotation_69'])
    cohen_score_average_66 = round((cohen_score_66_65 + cohen_score_66_68 + cohen_score_66_69)/3,3)
   # print("Average Cohen Kappa Score for annotation 66:",(cohen_score_average_66))
    return cohen_score_average_66

In [239]:
cohen_avg_66()

0.792

### Cohen_kappa average score of annotation 68:

In [240]:
def cohen_avg_68():
    cohen_score_68_65 = cohen_kappa_score(df['annotation_68'],df['annotation_65'])
    cohen_score_68_66 = cohen_kappa_score(df['annotation_68'],df['annotation_66'])
    cohen_score_68_69 = cohen_kappa_score(df['annotation_68'],df['annotation_69'])
    cohen_score_average_68 = round((cohen_score_68_65 + cohen_score_68_66 + cohen_score_68_69)/3,3)
    #print("Average Cohen Kappa Score for annotation 68:",(cohen_score_average_68))
    return cohen_score_average_68

In [241]:
cohen_avg_68()

0.792

### Cohen_kappa average score of annotation 69:

In [242]:
def cohen_avg_69():
    cohen_score_69_65 = cohen_kappa_score(df['annotation_69'],df['annotation_65'])
    cohen_score_69_66 = cohen_kappa_score(df['annotation_69'],df['annotation_66'])
    cohen_score_69_68 = cohen_kappa_score(df['annotation_69'],df['annotation_68'])
    cohen_score_average_69 = round((cohen_score_69_65 + cohen_score_69_66 + cohen_score_69_68)/3,3)
   # print("Average Cohen Kappa Score for annotation 69:",(cohen_score_average_69))
    return cohen_score_average_69

In [243]:
cohen_avg_69()

0.818

In [244]:
def finalLabel(df):
    for index, rows in df.iterrows():
        #print(index, rows['text'])
        compare = [[cohen_avg_65(),rows['annotation_65']],
                       [cohen_avg_66(),rows['annotation_66']],
                   [cohen_avg_68(),rows['annotation_68']],
                   [cohen_avg_69(),rows['annotation_69']]]
        
        boolean = [rows['annotation_65'],rows['annotation_66'],rows['annotation_68'],rows['annotation_69']]
        
        compare.sort(key = lambda k:k[0])
        t = compare.count('True')
        f = compare.count('False')
        #print('True:',t, 'False', f)
        
        if t == f: 
            kapaValue, colValue = compare[-1]
            df.loc[index, 'final_label'] = colValue
            
        elif t!=f:
            if t > f:
                df.loc[index, 'final_label'] = True
            else:
                df.loc[index, 'final_label'] = False
    
finalLabel(df)
df = df.iloc[:,[0,-1]]
df.head()

                                                text final_label
0  To all those who gloat “elections have consequ...        True
1  Corporations and health privacy in the US? How...       False
2                                  No. Done with it.       False
3  I have not eaten outside my house since March....       False
4  More people die each day in US from the virus ...       False

In [245]:
df.to_csv(r'C:\Users\Kriti\Desktop\College-Academics\NLP\Project Phase 2-\nyt_topic_new\nyt_topic_1_vaccination.csv',
           index = False)

# NYT_topic_2 

## Calculating Kappa score for annotations in NYT_topic_2_lockdowns

In [246]:
df=pd.read_csv(r"C:\Users\Kriti\Desktop\College-Academics\NLP\Project Phase 2-\nyt_topic\nyt_topic_2_lockdowns.csv")

In [247]:
df.head()

,text,annotation_40,annotation_8,annotation_42,annotation_15
0,I’m so tired of the fear mongering. Every vari...,False,False,False,False
1,We need a vaccine soonest. Not sure why Russi...,False,False,False,False
2,The lack of leadership on this is astonishing,False,False,False,False
3,Alternative reality is really gaining traction...,False,False,False,False
4,I would be much more likely to patronize a bus...,False,False,False,False

In [248]:
print(df['annotation_40'].isnull().sum())
print(df['annotation_8'].isnull().sum())
print(df['annotation_42'].isnull().sum())
print(df['annotation_15'].isnull().sum())
print(df['text'].isnull().sum())

0
0
0
0
0

### Cohen_kappa average score of annotation 40:

In [249]:
def cohen_avg_40():
    cohen_score_40_8 = cohen_kappa_score(df['annotation_40'],df['annotation_8'])
    cohen_score_40_42 = cohen_kappa_score(df['annotation_40'],df['annotation_42'])
    cohen_score_40_15 = cohen_kappa_score(df['annotation_40'],df['annotation_15'])
    cohen_score_average_40 = round((cohen_score_40_8 + cohen_score_40_42 + cohen_score_40_15)/3,3)
    #print("Average Cohen Kappa Score for annotation 40:",(cohen_score_average_40))
    return cohen_score_average_40

In [250]:
cohen_avg_40()

0.54

### Cohen_kappa average score of annotation 8:

In [251]:
def cohen_avg_8():
    cohen_score_8_40 = cohen_kappa_score(df['annotation_8'],df['annotation_40'])
    cohen_score_8_42 = cohen_kappa_score(df['annotation_8'],df['annotation_42'])
    cohen_score_8_15 = cohen_kappa_score(df['annotation_8'],df['annotation_15'])
    cohen_score_average_8 = round((cohen_score_8_40 + cohen_score_8_42 + cohen_score_8_15)/3,3)
    #print("Average Cohen Kappa Score for annotation 8:",(cohen_score_average_8))
    return cohen_score_average_8

In [252]:
cohen_avg_8()

0.285

### Cohen_kappa average score of annotation 42:

In [253]:
def cohen_avg_42():
    cohen_score_42_40 = cohen_kappa_score(df['annotation_42'],df['annotation_40'])
    cohen_score_42_8 = cohen_kappa_score(df['annotation_42'],df['annotation_8'])
    cohen_score_42_15 = cohen_kappa_score(df['annotation_42'],df['annotation_15'])
    cohen_score_average_42 = round((cohen_score_42_40 + cohen_score_42_8 + cohen_score_42_15)/3,3)
   # print("Average Cohen Kappa Score for annotation 42:",(cohen_score_average_42))
    return cohen_score_average_42

In [254]:
cohen_avg_42()

0.504

### Cohen_kappa average score of annotation 15:

In [255]:
def cohen_avg_15():
    cohen_score_15_40 = cohen_kappa_score(df['annotation_15'],df['annotation_40'])
    cohen_score_15_8 = cohen_kappa_score(df['annotation_15'],df['annotation_8'])
    cohen_score_15_42 = cohen_kappa_score(df['annotation_15'],df['annotation_42'])
    cohen_score_average_15 = round((cohen_score_15_40 + cohen_score_15_8 + cohen_score_15_42)/3,3)
    #print("Average Cohen Kappa Score for annotation 15:",(cohen_score_average_15))
    return cohen_score_average_15

In [256]:
cohen_avg_15()

0.512

In [257]:
def finalLabel(df):
    for index, rows in df.iterrows():
        #print(index, rows['text'])
        compare = [[cohen_avg_40(),rows['annotation_40']],
                       [cohen_avg_8(),rows['annotation_8']],
                   [cohen_avg_42(),rows['annotation_42']],
                   [cohen_avg_15(),rows['annotation_15']]]
        
        boolean = [rows['annotation_40'],rows['annotation_8'],rows['annotation_42'],rows['annotation_15']]
        
        compare.sort(key = lambda k:k[0])
        t = compare.count('True')
        f = compare.count('False')
        #print('True:',t, 'False', f)
        
        if t == f: 
            kapaValue, colValue = compare[-1]
            df.loc[index, 'final_label'] = colValue
            
        elif t!=f:
            if t > f:
                df.loc[index, 'final_label'] = True
            else:
                df.loc[index, 'final_label'] = False
    
finalLabel(df)
df = df.iloc[:,[0,-1]]
df.head()

                                                text final_label
0  I’m so tired of the fear mongering. Every vari...       False
1  We need a vaccine soonest.  Not sure why Russi...       False
2      The lack of leadership on this is astonishing       False
3  Alternative reality is really gaining traction...       False
4  I would be much more likely to patronize a bus...       False

In [258]:
df.to_csv(r'C:\Users\Kriti\Desktop\College-Academics\NLP\Project Phase 2-\nyt_topic_new\nyt_topic_2_lockdowns.csv',
           index = False)

### Calculating Kappa score for annotations in NYT_topic_2_nyt_topic_2_masking_and_distancing

In [259]:
df=pd.read_csv(r"C:\Users\Kriti\Desktop\College-Academics\NLP\Project Phase 2-\nyt_topic\nyt_topic_2_masking_and_distancing.csv")

In [260]:
df.head()

,text,annotation_40,annotation_8,annotation_42,annotation_15
0,I’m so tired of the fear mongering. Every vari...,False,False,False,False
1,We need a vaccine soonest. Not sure why Russi...,False,False,False,False
2,The lack of leadership on this is astonishing,False,False,False,False
3,Alternative reality is really gaining traction...,False,False,False,False
4,I would be much more likely to patronize a bus...,False,False,False,False

In [261]:
print(df['annotation_40'].isnull().sum())
print(df['annotation_8'].isnull().sum())
print(df['annotation_42'].isnull().sum())
print(df['annotation_15'].isnull().sum())
print(df['text'].isnull().sum())

0
0
0
0
0

### Cohen_kappa average score of annotation 40:

In [262]:
def cohen_avg_40():
    cohen_score_40_8 = cohen_kappa_score(df['annotation_40'],df['annotation_8'])
    cohen_score_40_42 = cohen_kappa_score(df['annotation_40'],df['annotation_42'])
    cohen_score_40_15 = cohen_kappa_score(df['annotation_40'],df['annotation_15'])
    cohen_score_average_40 = round((cohen_score_40_8 + cohen_score_40_42 + cohen_score_40_15)/3,3)
    #print("Average Cohen Kappa Score for annotation 40:",(cohen_score_average_40))
    return cohen_score_average_40

In [263]:
cohen_avg_40()

0.868

### Cohen_kappa average score of annotation 8:

In [264]:
def cohen_avg_8():
    cohen_score_8_40 = cohen_kappa_score(df['annotation_8'],df['annotation_40'])
    cohen_score_8_42 = cohen_kappa_score(df['annotation_8'],df['annotation_42'])
    cohen_score_8_15 = cohen_kappa_score(df['annotation_8'],df['annotation_15'])
    cohen_score_average_8 = round((cohen_score_8_40 + cohen_score_8_42 + cohen_score_8_15)/3,3)
    #print("Average Cohen Kappa Score for annotation 8:",(cohen_score_average_8))
    return cohen_score_average_8

In [265]:
cohen_avg_8()

0.816

### Cohen_kappa average score of annotation 42:

In [266]:
def cohen_avg_42():
    cohen_score_42_40 = cohen_kappa_score(df['annotation_42'],df['annotation_40'])
    cohen_score_42_8 = cohen_kappa_score(df['annotation_42'],df['annotation_8'])
    cohen_score_42_15 = cohen_kappa_score(df['annotation_42'],df['annotation_15'])
    cohen_score_average_42 = round((cohen_score_42_40 + cohen_score_42_8 + cohen_score_42_15)/3,3)
    #print("Average Cohen Kappa Score for annotation 42:",(cohen_score_average_42))
    return cohen_score_average_42

In [267]:
cohen_avg_42()

0.883

### Cohen_kappa average score of annotation 15:

In [268]:
def cohen_avg_15():
    cohen_score_15_40 = cohen_kappa_score(df['annotation_15'],df['annotation_40'])
    cohen_score_15_8 = cohen_kappa_score(df['annotation_15'],df['annotation_8'])
    cohen_score_15_42 = cohen_kappa_score(df['annotation_15'],df['annotation_42'])
    cohen_score_average_15 = round((cohen_score_15_40 + cohen_score_15_8 + cohen_score_15_42)/3,3)
    #print("Average Cohen Kappa Score for annotation 15:",(cohen_score_average_15))
    return cohen_score_average_15

In [269]:
cohen_avg_15()

0.865

In [270]:
def finalLabel(df):
    for index, rows in df.iterrows():
        #print(index, rows['text'])
        compare = [[cohen_avg_40(),rows['annotation_40']],
                       [cohen_avg_8(),rows['annotation_8']],
                   [cohen_avg_42(),rows['annotation_42']],
                   [cohen_avg_15(),rows['annotation_15']]]
        
        boolean = [rows['annotation_40'],rows['annotation_8'],rows['annotation_42'],rows['annotation_15']]
        
        compare.sort(key = lambda k:k[0])
        t = compare.count('True')
        f = compare.count('False')
        #print('True:',t, 'False', f)
        
        if t == f: 
            kapaValue, colValue = compare[-1]
            df.loc[index, 'final_label'] = colValue
            
        elif t!=f:
            if t > f:
                df.loc[index, 'final_label'] = True
            else:
                df.loc[index, 'final_label'] = False
    
finalLabel(df)
df = df.iloc[:,[0,-1]]
df.head()

                                                text final_label
0  I’m so tired of the fear mongering. Every vari...       False
1  We need a vaccine soonest.  Not sure why Russi...       False
2      The lack of leadership on this is astonishing       False
3  Alternative reality is really gaining traction...       False
4  I would be much more likely to patronize a bus...       False

In [271]:
df.to_csv(r'C:\Users\Kriti\Desktop\College-Academics\NLP\Project Phase 2-\nyt_topic_new\nyt_topic_2_masking_and_distancing.csv',
           index = False)

### Calculating Kappa score for annotations in NYT_topic_2_nyt_topic_2_vaccination:

In [272]:
df=pd.read_csv(r"C:\Users\Kriti\Desktop\College-Academics\NLP\Project Phase 2-\nyt_topic\nyt_topic_2_vaccination.csv")

In [273]:
df.head()

,text,annotation_40,annotation_8,annotation_42,annotation_15
0,I’m so tired of the fear mongering. Every vari...,True,True,True,True
1,We need a vaccine soonest. Not sure why Russi...,True,True,True,True
2,The lack of leadership on this is astonishing,False,False,False,False
3,Alternative reality is really gaining traction...,False,False,False,False
4,I would be much more likely to patronize a bus...,True,True,True,True

### Cohen_kappa average score of annotation 40:

In [274]:
def cohen_avg_40():
    cohen_score_40_8 = cohen_kappa_score(df['annotation_40'],df['annotation_8'])
    cohen_score_40_42 = cohen_kappa_score(df['annotation_40'],df['annotation_42'])
    cohen_score_40_15 = cohen_kappa_score(df['annotation_40'],df['annotation_15'])
    cohen_score_average_40 = round((cohen_score_40_8 + cohen_score_40_42 + cohen_score_40_15)/3,3)
    #print("Average Cohen Kappa Score for annotation 40:",(cohen_score_average_40))
    return cohen_score_average_40

In [275]:
cohen_avg_40()

0.823

### Cohen_kappa average score of annotation 8:

In [276]:
def cohen_avg_8():
    cohen_score_8_40 = cohen_kappa_score(df['annotation_8'],df['annotation_40'])
    cohen_score_8_42 = cohen_kappa_score(df['annotation_8'],df['annotation_42'])
    cohen_score_8_15 = cohen_kappa_score(df['annotation_8'],df['annotation_15'])
    cohen_score_average_8 = round((cohen_score_8_40 + cohen_score_8_42 + cohen_score_8_15)/3,3)
   # print("Average Cohen Kappa Score for annotation 8:",(cohen_score_average_8))
    return cohen_score_average_8

In [277]:
cohen_avg_8()

0.697

### Cohen_kappa average score of annotation 42:

In [278]:
def cohen_avg_42():
    cohen_score_42_40 = cohen_kappa_score(df['annotation_42'],df['annotation_40'])
    cohen_score_42_8 = cohen_kappa_score(df['annotation_42'],df['annotation_8'])
    cohen_score_42_15 = cohen_kappa_score(df['annotation_42'],df['annotation_15'])
    cohen_score_average_42 = round((cohen_score_42_40 + cohen_score_42_8 + cohen_score_42_15)/3,3)
    #print("Average Cohen Kappa Score for annotation 42:",(cohen_score_average_42))
    return cohen_score_average_42

In [279]:
cohen_avg_42()

0.85

### Cohen_kappa average score of annotation 15:

In [280]:
def cohen_avg_15():
    cohen_score_15_40 = cohen_kappa_score(df['annotation_15'],df['annotation_40'])
    cohen_score_15_8 = cohen_kappa_score(df['annotation_15'],df['annotation_8'])
    cohen_score_15_42 = cohen_kappa_score(df['annotation_15'],df['annotation_42'])
    cohen_score_average_15 = round((cohen_score_15_40 + cohen_score_15_8 + cohen_score_15_42)/3,3)
   # print("Average Cohen Kappa Score for annotation 15:",(cohen_score_average_15))
    return cohen_score_average_15

In [281]:
cohen_avg_15()

0.831

In [282]:
def finalLabel(df):
    for index, rows in df.iterrows():
        #print(index, rows['text'])
        compare = [[cohen_avg_40(),rows['annotation_40']],
                       [cohen_avg_8(),rows['annotation_8']],
                   [cohen_avg_42(),rows['annotation_42']],
                   [cohen_avg_15(),rows['annotation_15']]]
        
        boolean = [rows['annotation_40'],rows['annotation_8'],rows['annotation_42'],rows['annotation_15']]
        
        compare.sort(key = lambda k:k[0])
        t = compare.count('True')
        f = compare.count('False')
        #print('True:',t, 'False', f)
        
        if t == f: 
            kapaValue, colValue = compare[-1]
            df.loc[index, 'final_label'] = colValue
            
        elif t!=f:
            if t > f:
                df.loc[index, 'final_label'] = True
            else:
                df.loc[index, 'final_label'] = False
    
finalLabel(df)
df = df.iloc[:,[0,-1]]
df.head()

                                                text final_label
0  I’m so tired of the fear mongering. Every vari...        True
1  We need a vaccine soonest.  Not sure why Russi...        True
2      The lack of leadership on this is astonishing       False
3  Alternative reality is really gaining traction...       False
4  I would be much more likely to patronize a bus...        True

In [283]:
df.to_csv(r'C:\Users\Kriti\Desktop\College-Academics\NLP\Project Phase 2-\nyt_topic_new\nyt_topic_2_vaccination.csv',
           index = False)

# Combine all of the text/label pairs for the PRIMARY dataset into a single CSV file, with the columns "text" and "label"

### Create merged file nyt_topic_lockdowns:

In [284]:
csv_file_list = [r"C:\Users\Kriti\Desktop\College-Academics\NLP\Project Phase 2-\nyt_topic_new\nyt_topic_0_lockdowns.csv", 
                 r"C:\Users\Kriti\Desktop\College-Academics\NLP\Project Phase 2-\nyt_topic_new\nyt_topic_1_lockdowns.csv",
                 r"C:\Users\Kriti\Desktop\College-Academics\NLP\Project Phase 2-\nyt_topic_new\nyt_topic_2_lockdowns.csv"]

list_of_dataframes = []
for filename in csv_file_list:
    list_of_dataframes.append(pd.read_csv(filename))

merged_df = pd.concat(list_of_dataframes)

print(merged_df)

                                                  text  final_label
0    What do you mean that the pandemic has stretch...        False
1    I’m not sure if it qualifies as Big Brother wh...        False
2    What if smallpox and polio came roaring back o...        False
3    I'm continuing to wear a mask.  Even in bed, s...        False
4    Although my husband and I really, really miss ...        False
..                                                 ...          ...
295  The longer we drag this on, the more likely we...        False
296  Interesting that CEOs are worried about the pr...        False
297  I'm rapidly arriving at the opinion that we ne...         True
298  The world we live in is different  and riskier...        False
299  Get a vaccine or get a pink slip.  \nThere is ...        False

[813 rows x 2 columns]

In [285]:
merged_df.to_csv(r'C:\Users\Kriti\Desktop\College-Academics\NLP\Project Phase 2-\Primary_Dataset\nyt_topic_lockdowns.csv',
           index = False)

### Create merged file nyt_topic_masking_distancing:

In [287]:
csv_file_list = [r"C:\Users\Kriti\Desktop\College-Academics\NLP\Project Phase 2-\nyt_topic_new\nyt_topic_0_masking_and_distancing.csv", 
                 r"C:\Users\Kriti\Desktop\College-Academics\NLP\Project Phase 2-\nyt_topic_new\nyt_topic_1_masking_and_distancing.csv",
                 r"C:\Users\Kriti\Desktop\College-Academics\NLP\Project Phase 2-\nyt_topic_new\nyt_topic_2_masking_and_distancing.csv"]

list_of_dataframes = []
for filename in csv_file_list:
    list_of_dataframes.append(pd.read_csv(filename))

merged_df = pd.concat(list_of_dataframes)

print(merged_df)

                                                  text  final_label
0    What do you mean that the pandemic has stretch...        False
1    I’m not sure if it qualifies as Big Brother wh...        False
2    What if smallpox and polio came roaring back o...        False
3    I'm continuing to wear a mask.  Even in bed, s...         True
4    Although my husband and I really, really miss ...        False
..                                                 ...          ...
295  The longer we drag this on, the more likely we...         True
296  Interesting that CEOs are worried about the pr...        False
297  I'm rapidly arriving at the opinion that we ne...        False
298  The world we live in is different  and riskier...        False
299  Get a vaccine or get a pink slip.  \nThere is ...        False

[813 rows x 2 columns]

In [288]:
merged_df.to_csv(r'C:\Users\Kriti\Desktop\College-Academics\NLP\Project Phase 2-\Primary_Dataset\nyt_topic_masking_and_distancing.csv',
           index = False)

### Create merged file nyt_topic_vaccination:

In [289]:
csv_file_list = [r"C:\Users\Kriti\Desktop\College-Academics\NLP\Project Phase 2-\nyt_topic_new\nyt_topic_0_vaccination.csv", 
                 r"C:\Users\Kriti\Desktop\College-Academics\NLP\Project Phase 2-\nyt_topic_new\nyt_topic_1_vaccination.csv",
                 r"C:\Users\Kriti\Desktop\College-Academics\NLP\Project Phase 2-\nyt_topic_new\nyt_topic_2_vaccination.csv"]

list_of_dataframes = []
for filename in csv_file_list:
    list_of_dataframes.append(pd.read_csv(filename))

merged_df = pd.concat(list_of_dataframes)

print(merged_df)

                                                  text  final_label
0    What do you mean that the pandemic has stretch...        False
1    I’m not sure if it qualifies as Big Brother wh...        False
2    What if smallpox and polio came roaring back o...         True
3    I'm continuing to wear a mask.  Even in bed, s...         True
4    Although my husband and I really, really miss ...        False
..                                                 ...          ...
295  The longer we drag this on, the more likely we...         True
296  Interesting that CEOs are worried about the pr...         True
297  I'm rapidly arriving at the opinion that we ne...        False
298  The world we live in is different  and riskier...         True
299  Get a vaccine or get a pink slip.  \nThere is ...         True

[813 rows x 2 columns]

In [290]:
merged_df.to_csv(r'C:\Users\Kriti\Desktop\College-Academics\NLP\Project Phase 2-\Primary_Dataset\nyt_topic_vaccination.csv',
           index = False)