In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import cohen_kappa_score

In [2]:
df=pd.read_csv(r'C:\Users\Kriti\Desktop\College-Academics\NLP\Project Phase 2-\change.org_topic\change.org_topic_0_lockdowns.csv')

In [3]:
df.head()

,text,annotation_96,annotation_53,annotation_93,annotation_94,annotation_95
0,Language Education in the Time of COVID-19,False,False,False,False,False
1,COVID-19 Test Kits,False,False,False,False,False
2,COVID 19 IN PRISON,False,False,False,False,False
3,Get Waled Home,False,False,False,False,False
4,Make pass/fail available for Mississippi State...,False,False,False,False,False

In [4]:
print(df['annotation_96'].isnull().sum())
print(df['annotation_53'].isnull().sum())
print(df['annotation_93'].isnull().sum())
print(df['annotation_94'].isnull().sum())
print(df['annotation_95'].isnull().sum())
print(df['text'].isnull().sum())

0
0
0
0
0
0

### Cohen_kappa average score of annotation 96:

In [5]:
def cohen_avg_96():
    cohen_score_96_53 = cohen_kappa_score(df['annotation_96'],df['annotation_53'])
    cohen_score_96_93 = cohen_kappa_score(df['annotation_96'],df['annotation_93'])
    cohen_score_96_94 = cohen_kappa_score(df['annotation_96'],df['annotation_94'])
    cohen_score_96_95 = cohen_kappa_score(df['annotation_96'],df['annotation_95'])
    cohen_score_average_96 = round((cohen_score_96_53 + cohen_score_96_93 + cohen_score_96_94 + cohen_score_96_95)/4,3)
    print("Average Cohen Kappa Score for annotation 96:",(cohen_score_average_96))
    return cohen_score_average_96

In [6]:
cohen_avg_96()

Average Cohen Kappa Score for annotation 96: 0.377

0.377

### Cohen_kappa average score of annotation 53:

In [12]:
def cohen_avg_53():
    cohen_score_53_96 = cohen_kappa_score(df['annotation_53'],df['annotation_96'])
    cohen_score_53_93 = cohen_kappa_score(df['annotation_53'],df['annotation_93'])
    cohen_score_53_94 = cohen_kappa_score(df['annotation_53'],df['annotation_94'])
    cohen_score_53_95 = cohen_kappa_score(df['annotation_53'],df['annotation_95'])
    cohen_score_average_53 = round((cohen_score_53_96 + cohen_score_53_93 + cohen_score_53_94 + cohen_score_53_95)/4,3)
    print("Average Cohen Kappa Score for annotation 53:",(cohen_score_average_53))
    return cohen_score_average_53

In [13]:
cohen_avg_53()

Average Cohen Kappa Score for annotation 53: 0.038

0.038