In [1]:
import sklearn
from sklearn.metrics import cohen_kappa_score
import pandas as pd

##### For a given topic dataset CSV, create three separate CSVs, corresponding to lockdowns, masking and distancing, and vaccination. The new CSVs are written with the name of the topic suffixed to the original filename.

```
import argparse
import re
import pandas as pd

parser = argparse.ArgumentParser()
parser.add_argument("--infile", "-i", type=str, help="CSV for dataset to expand",
                    required=True)
args = parser.parse_args()

for topic in ["lockdowns", "masking and distancing", "vaccination"]:
    df = pd.read_csv(args.infile)
    cols = df.columns
    for col in cols:
        if "annotation" in col:
            df[col] = (df[col].notna() & df[col].str.contains(topic))
    new_fn = re.sub(r"\.csv$", f"_{topic.replace(' ', '_')}.csv", args.infile)
    df.to_csv(new_fn, index=False)

```

###### Using command: python expand_topic_csv_dataset.py --infile change.org_topic_0.csv
###### Using command: python expand_topic_csv_dataset.py --infile change.org_topic_1.csv
###### Using command: python expand_topic_csv_dataset.py --infile change.org_topic_2.csv
###### Using command: python expand_topic_csv_dataset.py --infile change.org_topic_3.csv
###### Using command: python expand_topic_csv_dataset.py --infile change.org_topic_4.csv

## change.org_topic_0_lockdowns.csv

In [2]:
df = pd.read_csv(r'change.org_topic\change.org_topic_0_lockdowns.csv')
df.head()

,text,annotation_96,annotation_53,annotation_93,annotation_94,annotation_95
0,Language Education in the Time of COVID-19,False,False,False,False,False
1,COVID-19 Test Kits,False,False,False,False,False
2,COVID 19 IN PRISON,False,False,False,False,False
3,Get Waled Home,False,False,False,False,False
4,Make pass/fail available for Mississippi State...,False,False,False,False,False

In [3]:
print(df['annotation_53'].isnull().sum())
print(df['annotation_93'].isnull().sum())
print(df['annotation_94'].isnull().sum())
print(df['annotation_95'].isnull().sum())
print(df['annotation_96'].isnull().sum())
print(df['text'].isnull().sum())

0
0
0
0
0
0

In [4]:
annotation_1= df['annotation_53']
annotation_2= df['annotation_93']
annotation_3= df['annotation_94']
annotation_4= df['annotation_95']
annotation_5= df['annotation_96']

### Cohen_kappa average score of annotation 53

In [5]:
def cohen_avg_1():
    cohen_score_12 = cohen_kappa_score(annotation_1,annotation_2)
    cohen_score_13 = cohen_kappa_score(annotation_1,annotation_3)
    cohen_score_14 = cohen_kappa_score(annotation_1,annotation_4)
    cohen_score_15 = cohen_kappa_score(annotation_1,annotation_5)
    cohen_score_average_1 = round((cohen_score_12 + cohen_score_13 + cohen_score_14+ cohen_score_15)/4,3)
    print("Average Cohen Kappa Score for annotation 53:",(cohen_score_average_1))
    return cohen_score_average_1

In [6]:
cohen_avg_1()

Average Cohen Kappa Score for annotation 53: 0.038

0.038

### Cohen_kappa average score of annotation 93

In [7]:
def cohen_avg_2():
    cohen_score_21 = cohen_kappa_score(annotation_2,annotation_1)
    cohen_score_23 = cohen_kappa_score(annotation_2,annotation_3)
    cohen_score_24 = cohen_kappa_score(annotation_2,annotation_4)
    cohen_score_25 = cohen_kappa_score(annotation_2,annotation_5)
    cohen_score_average_2 = round((cohen_score_21 + cohen_score_23 + cohen_score_24+ cohen_score_25)/4,3)
    print("Average Cohen Kappa Score for annotation 93:",(cohen_score_average_2))
    return cohen_score_average_2

In [8]:
cohen_avg_2()

Average Cohen Kappa Score for annotation 93: 0.346

0.346

### Cohen_kappa average score of annotation 94

In [9]:
def cohen_avg_3():
    cohen_score_31 = cohen_kappa_score(annotation_3,annotation_1)
    cohen_score_32 = cohen_kappa_score(annotation_3,annotation_2)
    cohen_score_34 = cohen_kappa_score(annotation_3,annotation_4)
    cohen_score_35 = cohen_kappa_score(annotation_3,annotation_5)
    cohen_score_average_3 = round((cohen_score_31 + cohen_score_32 + cohen_score_34+ cohen_score_35)/4,3)
    print("Average Cohen Kappa Score for annotation 94:",(cohen_score_average_3))
    return cohen_score_average_3

In [10]:
cohen_avg_3()

Average Cohen Kappa Score for annotation 94: 0.428

0.428

### Cohen_kappa average score of annotation 95

In [11]:
def cohen_avg_4():
    cohen_score_41 = cohen_kappa_score(annotation_4,annotation_1)
    cohen_score_42 = cohen_kappa_score(annotation_4,annotation_2)
    cohen_score_43 = cohen_kappa_score(annotation_4,annotation_3)
    cohen_score_45 = cohen_kappa_score(annotation_4,annotation_5)
    cohen_score_average_4 = round((cohen_score_41 + cohen_score_42 + cohen_score_43 + cohen_score_45)/4,3)
    print("Average Cohen Kappa Score for annotation 95:",(cohen_score_average_4))
    return cohen_score_average_4

In [12]:
cohen_avg_4()

Average Cohen Kappa Score for annotation 95: 0.425

0.425

### Cohen_kappa average score of annotation 96

In [13]:
def cohen_avg_5():
    cohen_score_51 = cohen_kappa_score(annotation_5,annotation_1)
    cohen_score_52 = cohen_kappa_score(annotation_5,annotation_2)
    cohen_score_53 = cohen_kappa_score(annotation_5,annotation_3)
    cohen_score_54 = cohen_kappa_score(annotation_5,annotation_4)
    cohen_score_average_5 = round((cohen_score_51 + cohen_score_52 + cohen_score_53 + cohen_score_54)/4,3)
    print("Average Cohen Kappa Score for annotation 96:",(cohen_score_average_5))
    return cohen_score_average_5

In [14]:
cohen_avg_5()

Average Cohen Kappa Score for annotation 96: 0.377

0.377

##### If average cohen kappa score for any annotation is less than 0.2, we will drop it

In [15]:
def drop_annotate():
    average = [cohen_avg_1(), cohen_avg_2(),cohen_avg_3(),cohen_avg_4(),cohen_avg_5()]
    columns_name = ['annotation_53','annotation_93','annotation_94','annotation_95','annotation_96']
    #columns =[annotation_1,annotation_2,annotation_3,annotation_4]
    for i in range(0,len(average)):
        if average[i]< 0.2:
            print("\n")
            print(columns_name[i])
            print(average[i])
            df.drop(columns_name[i], axis=1, inplace = True)
    print(df.head())

In [16]:
drop_annotate()

Average Cohen Kappa Score for annotation 53: 0.038
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377


annotation_53
0.038
                                                text  annotation_96  \
0         Language Education in the Time of COVID-19          False
1                                 COVID-19 Test Kits          False
2                                 COVID 19 IN PRISON          False
3                                     Get Waled Home          False
4  Make pass/fail available for Mississippi State...          False

   annotation_93  annotation_94  annotation_95
0          False          False          False
1          False          False          False
2          False          False          False
3          False          False          False
4          False          False          False

In [17]:
def updateLabel(df):
    for index, rows in df.iterrows():
        compare = [[cohen_avg_2(),rows['annotation_93']],
                   [cohen_avg_3(),rows['annotation_94']],
                   [cohen_avg_4(),rows['annotation_95']],
                    [cohen_avg_5(),rows['annotation_96']]]
        boolean = [rows['annotation_93'],rows['annotation_94'],rows['annotation_95'],rows['annotation_96']]
        compare.sort(key = lambda k:k[0])
        t = compare.count('True')
        f = compare.count('False')
        if t == f: 
            kapaValue, colValue = compare[-1]
            df.loc[index, 'Final Label'] = colValue
            
        elif t!=f:
            if t > f:
                df.loc[index, 'Final Label'] = True
            else:
                df.loc[index, 'Final Label'] = False

In [18]:
updateLabel(df)
df = df.iloc[:,[0,-1]]
df.head()

Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346

Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377

Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377

Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377

Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346

Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428

Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377

Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377
Average Cohen Kappa Score for annotation 93: 0.346
Average Cohen Kappa Score for annotation 94: 0.428
Average Cohen Kappa Score for annotation 95: 0.425
Average Cohen Kappa Score for annotation 96: 0.377

                                                text Final Label
0         Language Education in the Time of COVID-19       False
1                                 COVID-19 Test Kits       False
2                                 COVID 19 IN PRISON       False
3                                     Get Waled Home       False
4  Make pass/fail available for Mississippi State...       False

## change.org_topic_0_masking_and_distancing.csv

In [19]:
df_1 = pd.read_csv(r'change.org_topic\change.org_topic_0_masking_and_distancing.csv')
df_1.head()

,text,annotation_96,annotation_53,annotation_93,annotation_94,annotation_95
0,Language Education in the Time of COVID-19,False,False,False,False,False
1,COVID-19 Test Kits,False,False,False,False,False
2,COVID 19 IN PRISON,False,False,False,False,False
3,Get Waled Home,False,False,False,False,False
4,Make pass/fail available for Mississippi State...,False,False,False,False,False

In [20]:
print(df_1['annotation_53'].isnull().sum())
print(df_1['annotation_93'].isnull().sum())
print(df_1['annotation_94'].isnull().sum())
print(df_1['annotation_95'].isnull().sum())
print(df_1['annotation_96'].isnull().sum())
print(df_1['text'].isnull().sum())

0
0
0
0
0
0

In [21]:
annotation_1= df_1['annotation_53']
annotation_2= df_1['annotation_93']
annotation_3= df_1['annotation_94']
annotation_4= df_1['annotation_95']
annotation_5= df_1['annotation_96']

### Cohen_kappa average score of annotation 53

In [22]:
def cohen_avg_1():
    cohen_score_12 = cohen_kappa_score(annotation_1,annotation_2)
    cohen_score_13 = cohen_kappa_score(annotation_1,annotation_3)
    cohen_score_14 = cohen_kappa_score(annotation_1,annotation_4)
    cohen_score_15 = cohen_kappa_score(annotation_1,annotation_5)
    cohen_score_average_1 = round((cohen_score_12 + cohen_score_13 + cohen_score_14+ cohen_score_15)/4,3)
    print("Average Cohen Kappa Score for annotation 53:",(cohen_score_average_1))
    return cohen_score_average_1

In [23]:
cohen_avg_1()

Average Cohen Kappa Score for annotation 53: -0.006

-0.006

### Cohen_kappa average score of annotation 93

In [24]:
def cohen_avg_2():
    cohen_score_21 = cohen_kappa_score(annotation_2,annotation_1)
    cohen_score_23 = cohen_kappa_score(annotation_2,annotation_3)
    cohen_score_24 = cohen_kappa_score(annotation_2,annotation_4)
    cohen_score_25 = cohen_kappa_score(annotation_2,annotation_5)
    cohen_score_average_2 = round((cohen_score_21 + cohen_score_23 + cohen_score_24+ cohen_score_25)/4,3)
    print("Average Cohen Kappa Score for annotation 93:",(cohen_score_average_2))
    return cohen_score_average_2

In [25]:
cohen_avg_2()

Average Cohen Kappa Score for annotation 93: 0.139

0.139

### Cohen_kappa average score of annotation 94

In [26]:
def cohen_avg_3():
    cohen_score_31 = cohen_kappa_score(annotation_3,annotation_1)
    cohen_score_32 = cohen_kappa_score(annotation_3,annotation_2)
    cohen_score_34 = cohen_kappa_score(annotation_3,annotation_4)
    cohen_score_35 = cohen_kappa_score(annotation_3,annotation_5)
    cohen_score_average_3 = round((cohen_score_31 + cohen_score_32 + cohen_score_34+ cohen_score_35)/4,3)
    print("Average Cohen Kappa Score for annotation 94:",(cohen_score_average_3))
    return cohen_score_average_3

In [27]:
cohen_avg_3()

Average Cohen Kappa Score for annotation 94: 0.193

0.193

### Cohen_kappa average score of annotation 95

In [28]:
def cohen_avg_4():
    cohen_score_41 = cohen_kappa_score(annotation_4,annotation_1)
    cohen_score_42 = cohen_kappa_score(annotation_4,annotation_2)
    cohen_score_43 = cohen_kappa_score(annotation_4,annotation_3)
    cohen_score_45 = cohen_kappa_score(annotation_4,annotation_5)
    cohen_score_average_4 = round((cohen_score_41 + cohen_score_42 + cohen_score_43 + cohen_score_45)/4,3)
    print("Average Cohen Kappa Score for annotation 95:",(cohen_score_average_4))
    return cohen_score_average_4

In [29]:
cohen_avg_4()

Average Cohen Kappa Score for annotation 95: 0.258

0.258

### Cohen_kappa average score of annotation 96

In [30]:
def cohen_avg_5():
    cohen_score_51 = cohen_kappa_score(annotation_5,annotation_1)
    cohen_score_52 = cohen_kappa_score(annotation_5,annotation_2)
    cohen_score_53 = cohen_kappa_score(annotation_5,annotation_3)
    cohen_score_54 = cohen_kappa_score(annotation_5,annotation_4)
    cohen_score_average_5 = round((cohen_score_51 + cohen_score_52 + cohen_score_53 + cohen_score_54)/4,3)
    print("Average Cohen Kappa Score for annotation 96:",(cohen_score_average_5))
    return cohen_score_average_5

In [31]:
cohen_avg_5()

Average Cohen Kappa Score for annotation 96: 0.201

0.201

##### If average cohen kappa score for any annotation is less than 0.2, we will drop it

In [32]:
def drop_annotate():
    average = [cohen_avg_1(), cohen_avg_2(),cohen_avg_3(),cohen_avg_4(),cohen_avg_5()]
    columns_name = ['annotation_53','annotation_93','annotation_94','annotation_95','annotation_96']
    #columns =[annotation_1,annotation_2,annotation_3,annotation_4]
    for i in range(0,len(average)):
        if average[i]< 0.2:
            print("\t")
            print(columns_name[i])
            print(average[i])
            df_1.drop(columns_name[i], axis=1, inplace = True)
    print(df_1.head())

In [33]:
drop_annotate()

Average Cohen Kappa Score for annotation 53: -0.006
Average Cohen Kappa Score for annotation 93: 0.139
Average Cohen Kappa Score for annotation 94: 0.193
Average Cohen Kappa Score for annotation 95: 0.258
Average Cohen Kappa Score for annotation 96: 0.201

annotation_53
-0.006

annotation_93
0.139

annotation_94
0.193
                                                text  annotation_96  \
0         Language Education in the Time of COVID-19          False
1                                 COVID-19 Test Kits          False
2                                 COVID 19 IN PRISON          False
3                                     Get Waled Home          False
4  Make pass/fail available for Mississippi State...          False

   annotation_95
0          False
1          False
2          False
3          False
4          False

## change.org_topic_0_vaccination.csv

In [34]:
df_2 = pd.read_csv(r'change.org_topic\change.org_topic_0_vaccination.csv')
df_2.head()

,text,annotation_96,annotation_53,annotation_93,annotation_94,annotation_95
0,Language Education in the Time of COVID-19,False,False,False,False,False
1,COVID-19 Test Kits,False,False,False,False,False
2,COVID 19 IN PRISON,False,False,False,False,False
3,Get Waled Home,False,False,False,False,False
4,Make pass/fail available for Mississippi State...,False,False,False,False,False

In [35]:
print(df_2['annotation_53'].isnull().sum())
print(df_2['annotation_93'].isnull().sum())
print(df_2['annotation_94'].isnull().sum())
print(df_2['annotation_95'].isnull().sum())
print(df_2['annotation_96'].isnull().sum())
print(df_2['text'].isnull().sum())

0
0
0
0
0
0

In [36]:
annotation_1= df_2['annotation_53']
annotation_2= df_2['annotation_93']
annotation_3= df_2['annotation_94']
annotation_4= df_2['annotation_95']
annotation_5= df_2['annotation_96']

### Cohen_kappa average score of annotation 53

In [37]:
def cohen_avg_1():
    cohen_score_12 = cohen_kappa_score(annotation_1,annotation_2)
    cohen_score_13 = cohen_kappa_score(annotation_1,annotation_3)
    cohen_score_14 = cohen_kappa_score(annotation_1,annotation_4)
    cohen_score_15 = cohen_kappa_score(annotation_1,annotation_5)
    cohen_score_average_1 = round((cohen_score_12 + cohen_score_13 + cohen_score_14+ cohen_score_15)/4,3)
    print("Average Cohen Kappa Score for annotation 53:",(cohen_score_average_1))
    return cohen_score_average_1

In [38]:
cohen_avg_1()

Average Cohen Kappa Score for annotation 53: -0.005

-0.005

### Cohen_kappa average score of annotation 93

In [39]:
def cohen_avg_2():
    cohen_score_21 = cohen_kappa_score(annotation_2,annotation_1)
    cohen_score_23 = cohen_kappa_score(annotation_2,annotation_3)
    cohen_score_24 = cohen_kappa_score(annotation_2,annotation_4)
    cohen_score_25 = cohen_kappa_score(annotation_2,annotation_5)
    cohen_score_average_2 = round((cohen_score_21 + cohen_score_23 + cohen_score_24+ cohen_score_25)/4,3)
    print("Average Cohen Kappa Score for annotation 93:",(cohen_score_average_2))
    return cohen_score_average_2

In [40]:
cohen_avg_2()

Average Cohen Kappa Score for annotation 93: 0.262

0.262

### Cohen_kappa average score of annotation 94

In [41]:
def cohen_avg_3():
    cohen_score_31 = cohen_kappa_score(annotation_3,annotation_1)
    cohen_score_32 = cohen_kappa_score(annotation_3,annotation_2)
    cohen_score_34 = cohen_kappa_score(annotation_3,annotation_4)
    cohen_score_35 = cohen_kappa_score(annotation_3,annotation_5)
    cohen_score_average_3 = round((cohen_score_31 + cohen_score_32 + cohen_score_34+ cohen_score_35)/4,3)
    print("Average Cohen Kappa Score for annotation 94:",(cohen_score_average_3))
    return cohen_score_average_3

In [42]:
cohen_avg_3()

Average Cohen Kappa Score for annotation 94: 0.251

0.251

### Cohen_kappa average score of annotation 95

In [43]:
def cohen_avg_4():
    cohen_score_41 = cohen_kappa_score(annotation_4,annotation_1)
    cohen_score_42 = cohen_kappa_score(annotation_4,annotation_2)
    cohen_score_43 = cohen_kappa_score(annotation_4,annotation_3)
    cohen_score_45 = cohen_kappa_score(annotation_4,annotation_5)
    cohen_score_average_4 = round((cohen_score_41 + cohen_score_42 + cohen_score_43 + cohen_score_45)/4,3)
    print("Average Cohen Kappa Score for annotation 95:",(cohen_score_average_4))
    return cohen_score_average_4

In [44]:
cohen_avg_4()

Average Cohen Kappa Score for annotation 95: 0.137

0.137

### Cohen_kappa average score of annotation 96

In [45]:
def cohen_avg_5():
    cohen_score_51 = cohen_kappa_score(annotation_5,annotation_1)
    cohen_score_52 = cohen_kappa_score(annotation_5,annotation_2)
    cohen_score_53 = cohen_kappa_score(annotation_5,annotation_3)
    cohen_score_54 = cohen_kappa_score(annotation_5,annotation_4)
    cohen_score_average_5 = round((cohen_score_51 + cohen_score_52 + cohen_score_53 + cohen_score_54)/4,3)
    print("Average Cohen Kappa Score for annotation 96:",(cohen_score_average_5))
    return cohen_score_average_5

In [46]:
cohen_avg_5()

Average Cohen Kappa Score for annotation 96: 0.122

0.122

##### If average cohen kappa score for any annotation is less than 0.2, we will drop it

In [47]:
def drop_annotate():
    average = [cohen_avg_1(), cohen_avg_2(),cohen_avg_3(),cohen_avg_4(),cohen_avg_5()]
    columns_name = ['annotation_53','annotation_93','annotation_94','annotation_95','annotation_96']
    #columns =[annotation_1,annotation_2,annotation_3,annotation_4]
    for i in range(0,len(average)):
        if average[i]< 0.2:
            print("\t")
            print(columns_name[i])
            print(average[i])
            df_2.drop(columns_name[i], axis=1, inplace = True)
    print(df_2.head())

In [48]:
drop_annotate()

Average Cohen Kappa Score for annotation 53: -0.005
Average Cohen Kappa Score for annotation 93: 0.262
Average Cohen Kappa Score for annotation 94: 0.251
Average Cohen Kappa Score for annotation 95: 0.137
Average Cohen Kappa Score for annotation 96: 0.122

annotation_53
-0.005

annotation_95
0.137

annotation_96
0.122
                                                text  annotation_93  \
0         Language Education in the Time of COVID-19          False
1                                 COVID-19 Test Kits          False
2                                 COVID 19 IN PRISON          False
3                                     Get Waled Home          False
4  Make pass/fail available for Mississippi State...          False

   annotation_94
0          False
1          False
2          False
3          False
4          False

## change.org_topic_1_lockdowns.csv

In [49]:
df_3 = pd.read_csv(r'change.org_topic\change.org_topic_1_lockdowns.csv')
df_3.head()

,text,annotation_112,annotation_109,annotation_110,annotation_111
0,Get CoVID Vaccines to Nepal ASAP and prevent a...,False,False,False,False
1,Compensate Essential Workers,False,False,False,True
2,Amend Recent COVID-19 Restrictions for Persona...,False,True,True,False
3,Petition against COVID-19 & Quarantine Bill: S...,True,False,False,False
4,KCL Has Coronavirus Case: Petition to Have Onl...,True,True,True,False

In [50]:
print(df_3['annotation_109'].isnull().sum())
print(df_3['annotation_110'].isnull().sum())
print(df_3['annotation_111'].isnull().sum())
print(df_3['annotation_112'].isnull().sum())
print(df_3['text'].isnull().sum())

0
0
0
0
0

In [51]:
annotation_1= df_3['annotation_109']
annotation_2= df_3['annotation_110']
annotation_3= df_3['annotation_111']
annotation_4= df_3['annotation_112']

### Cohen_kappa average score of annotation 109

In [52]:
def cohen_avg_1():
    cohen_score_12 = cohen_kappa_score(annotation_1,annotation_2)
    cohen_score_13 = cohen_kappa_score(annotation_1,annotation_3)
    cohen_score_14 = cohen_kappa_score(annotation_1,annotation_4)
    cohen_score_average_1 = round((cohen_score_12 + cohen_score_13 + cohen_score_14)/3,3)
    print("Average Cohen Kappa Score for annotation 109:",(cohen_score_average_1))
    return cohen_score_average_1

In [53]:
cohen_avg_1()

Average Cohen Kappa Score for annotation 109: 0.466

0.466

### Cohen_kappa average score of annotation 110

In [54]:
def cohen_avg_2():
    cohen_score_21 = cohen_kappa_score(annotation_2,annotation_1)
    cohen_score_23 = cohen_kappa_score(annotation_2,annotation_3)
    cohen_score_24 = cohen_kappa_score(annotation_2,annotation_4)
    cohen_score_average_2 = round((cohen_score_21 + cohen_score_23 + cohen_score_24)/3,3)
    print("Average Cohen Kappa Score for annotation 110:",(cohen_score_average_2))
    return cohen_score_average_2

In [55]:
cohen_avg_2()

Average Cohen Kappa Score for annotation 110: 0.357

0.357

### Cohen_kappa average score of annotation 111

In [56]:
def cohen_avg_3():
    cohen_score_31 = cohen_kappa_score(annotation_3,annotation_1)
    cohen_score_32 = cohen_kappa_score(annotation_3,annotation_2)
    cohen_score_34 = cohen_kappa_score(annotation_3,annotation_4)
    cohen_score_average_3 = round((cohen_score_31 + cohen_score_32 + cohen_score_34)/3,3)
    print("Average Cohen Kappa Score for annotation 111:",(cohen_score_average_3))
    return cohen_score_average_3

In [57]:
cohen_avg_3()

Average Cohen Kappa Score for annotation 111: 0.306

0.306

### Cohen_kappa average score of annotation 112

In [58]:
def cohen_avg_4():
    cohen_score_41 = cohen_kappa_score(annotation_4,annotation_1)
    cohen_score_42 = cohen_kappa_score(annotation_4,annotation_2)
    cohen_score_43 = cohen_kappa_score(annotation_4,annotation_3)
    cohen_score_average_4 = round((cohen_score_41 + cohen_score_42 + cohen_score_43)/3,3)
    print("Average Cohen Kappa Score for annotation 112:",(cohen_score_average_4))
    return cohen_score_average_4

In [59]:
cohen_avg_4()

Average Cohen Kappa Score for annotation 112: 0.394

0.394

##### If average cohen kappa score for any annotation is less than 0.2, we will drop it

In [60]:
def drop_annotate():
    average = [cohen_avg_1(), cohen_avg_2(),cohen_avg_3(),cohen_avg_4()]
    columns_name = ['annotation_109','annotation_110','annotation_111','annotation_112']
    #columns =[annotation_1,annotation_2,annotation_3,annotation_4]
    for i in range(0,len(average)):
        if average[i]< 0.2:
            print(columns_name[i])
            print(average[i])
            df_3.drop(columns_name[i], axis=1, inplace = True)
    print(df_3.head())

In [61]:
drop_annotate()

Average Cohen Kappa Score for annotation 109: 0.466
Average Cohen Kappa Score for annotation 110: 0.357
Average Cohen Kappa Score for annotation 111: 0.306
Average Cohen Kappa Score for annotation 112: 0.394
                                                text  annotation_112  \
0  Get CoVID Vaccines to Nepal ASAP and prevent a...           False
1                       Compensate Essential Workers           False
2  Amend Recent COVID-19 Restrictions for Persona...           False
3  Petition against COVID-19 & Quarantine Bill: S...            True
4  KCL Has Coronavirus Case: Petition to Have Onl...            True

   annotation_109  annotation_110  annotation_111
0           False           False           False
1           False           False            True
2            True            True           False
3           False           False           False
4            True            True           False

## change_topic_1_masking_and_distancing.csv

In [62]:
df_4 = pd.read_csv(r'change.org_topic\change.org_topic_1_masking_and_distancing.csv')
df_4.head()

,text,annotation_112,annotation_109,annotation_110,annotation_111
0,Get CoVID Vaccines to Nepal ASAP and prevent a...,False,False,False,False
1,Compensate Essential Workers,False,False,False,True
2,Amend Recent COVID-19 Restrictions for Persona...,False,False,False,True
3,Petition against COVID-19 & Quarantine Bill: S...,False,False,False,False
4,KCL Has Coronavirus Case: Petition to Have Onl...,False,False,False,False

In [63]:
print(df_4['annotation_109'].isnull().sum())
print(df_4['annotation_110'].isnull().sum())
print(df_4['annotation_111'].isnull().sum())
print(df_4['annotation_112'].isnull().sum())
print(df_4['text'].isnull().sum())

0
0
0
0
0

In [64]:
annotation_1= df_4['annotation_109']
annotation_2= df_4['annotation_110']
annotation_3= df_4['annotation_111']
annotation_4= df_4['annotation_112']

### Cohen_kappa average score of annotation 109

In [65]:
def cohen_avg_1():
    cohen_score_12 = cohen_kappa_score(annotation_1,annotation_2)
    cohen_score_13 = cohen_kappa_score(annotation_1,annotation_3)
    cohen_score_14 = cohen_kappa_score(annotation_1,annotation_4)
    cohen_score_average_1 = round((cohen_score_12 + cohen_score_13 + cohen_score_14)/3,3)
    print("Average Cohen Kappa Score for annotation 109:",(cohen_score_average_1))
    return cohen_score_average_1

In [66]:
cohen_avg_1()

Average Cohen Kappa Score for annotation 109: 0.25

0.25

### Cohen_kappa average score of annotation 110

In [67]:
def cohen_avg_2():
    cohen_score_21 = cohen_kappa_score(annotation_2,annotation_1)
    cohen_score_23 = cohen_kappa_score(annotation_2,annotation_3)
    cohen_score_24 = cohen_kappa_score(annotation_2,annotation_4)
    cohen_score_average_2 = round((cohen_score_21 + cohen_score_23 + cohen_score_24)/3,3)
    print("Average Cohen Kappa Score for annotation 110:",(cohen_score_average_2))
    return cohen_score_average_2

In [68]:
cohen_avg_2()

Average Cohen Kappa Score for annotation 110: 0.297

0.297

### Cohen_kappa average score of annotation 111

In [69]:
def cohen_avg_3():
    cohen_score_31 = cohen_kappa_score(annotation_3,annotation_1)
    cohen_score_32 = cohen_kappa_score(annotation_3,annotation_2)
    cohen_score_34 = cohen_kappa_score(annotation_3,annotation_4)
    cohen_score_average_3 = round((cohen_score_31 + cohen_score_32 + cohen_score_34)/3,3)
    print("Average Cohen Kappa Score for annotation 111:",(cohen_score_average_3))
    return cohen_score_average_3

In [70]:
cohen_avg_3()

Average Cohen Kappa Score for annotation 111: 0.213

0.213

### Cohen_kappa average score of annotation 112

In [71]:
def cohen_avg_4():
    cohen_score_41 = cohen_kappa_score(annotation_4,annotation_1)
    cohen_score_42 = cohen_kappa_score(annotation_4,annotation_2)
    cohen_score_43 = cohen_kappa_score(annotation_4,annotation_3)
    cohen_score_average_4 = round((cohen_score_41 + cohen_score_42 + cohen_score_43)/3,3)
    print("Average Cohen Kappa Score for annotation 112:",(cohen_score_average_4))
    return cohen_score_average_4

In [72]:
cohen_avg_4()

Average Cohen Kappa Score for annotation 112: 0.327

0.327

##### If average cohen kappa score for any annotation is less than 0.2, we will drop it

In [73]:
def drop_annotate():
    average = [cohen_avg_1(), cohen_avg_2(),cohen_avg_3(),cohen_avg_4()]
    columns_name = ['annotation_109','annotation_110','annotation_111','annotation_112']
    #columns =[annotation_1,annotation_2,annotation_3,annotation_4]
    for i in range(0,len(average)):
        if average[i]< 0.2:
            print(columns_name[i])
            print(average[i])
            df_4.drop(columns_name[i], axis=1, inplace = True)
    print(df_4.head())

In [74]:
drop_annotate()

Average Cohen Kappa Score for annotation 109: 0.25
Average Cohen Kappa Score for annotation 110: 0.297
Average Cohen Kappa Score for annotation 111: 0.213
Average Cohen Kappa Score for annotation 112: 0.327
                                                text  annotation_112  \
0  Get CoVID Vaccines to Nepal ASAP and prevent a...           False
1                       Compensate Essential Workers           False
2  Amend Recent COVID-19 Restrictions for Persona...           False
3  Petition against COVID-19 & Quarantine Bill: S...           False
4  KCL Has Coronavirus Case: Petition to Have Onl...           False

   annotation_109  annotation_110  annotation_111
0           False           False           False
1           False           False            True
2           False           False            True
3           False           False           False
4           False           False           False

## change.org_topic_1_vaccination.csv

In [75]:
df_5 = pd.read_csv(r'change.org_topic\change.org_topic_1_vaccination.csv')
df_5.head()

,text,annotation_112,annotation_109,annotation_110,annotation_111
0,Get CoVID Vaccines to Nepal ASAP and prevent a...,True,True,True,True
1,Compensate Essential Workers,False,False,True,False
2,Amend Recent COVID-19 Restrictions for Persona...,False,False,False,False
3,Petition against COVID-19 & Quarantine Bill: S...,False,False,False,False
4,KCL Has Coronavirus Case: Petition to Have Onl...,False,False,False,False

In [76]:
print(df_5['annotation_109'].isnull().sum())
print(df_5['annotation_110'].isnull().sum())
print(df_5['annotation_111'].isnull().sum())
print(df_5['annotation_112'].isnull().sum())
print(df_5['text'].isnull().sum())

0
0
0
0
0

In [77]:
annotation_1= df_5['annotation_109']
annotation_2= df_5['annotation_110']
annotation_3= df_5['annotation_111']
annotation_4= df_5['annotation_112']

### Cohen_kappa average score of annotation 109

In [78]:
def cohen_avg_1():
    cohen_score_12 = cohen_kappa_score(annotation_1,annotation_2)
    cohen_score_13 = cohen_kappa_score(annotation_1,annotation_3)
    cohen_score_14 = cohen_kappa_score(annotation_1,annotation_4)
    cohen_score_average_1 = round((cohen_score_12 + cohen_score_13 + cohen_score_14)/3,3)
    print("Average Cohen Kappa Score for annotation 109:",(cohen_score_average_1))
    return cohen_score_average_1

In [79]:
cohen_avg_1()

Average Cohen Kappa Score for annotation 109: 0.411

0.411

### Cohen_kappa average score of annotation 110

In [80]:
def cohen_avg_2():
    cohen_score_21 = cohen_kappa_score(annotation_2,annotation_1)
    cohen_score_23 = cohen_kappa_score(annotation_2,annotation_3)
    cohen_score_24 = cohen_kappa_score(annotation_2,annotation_4)
    cohen_score_average_2 = round((cohen_score_21 + cohen_score_23 + cohen_score_24)/3,3)
    print("Average Cohen Kappa Score for annotation 110:",(cohen_score_average_2))
    return cohen_score_average_2

In [81]:
cohen_avg_2()

Average Cohen Kappa Score for annotation 110: 0.336

0.336

### Cohen_kappa average score of annotation 111

In [82]:
def cohen_avg_3():
    cohen_score_31 = cohen_kappa_score(annotation_3,annotation_1)
    cohen_score_32 = cohen_kappa_score(annotation_3,annotation_2)
    cohen_score_34 = cohen_kappa_score(annotation_3,annotation_4)
    cohen_score_average_3 = round((cohen_score_31 + cohen_score_32 + cohen_score_34)/3,3)
    print("Average Cohen Kappa Score for annotation 111:",(cohen_score_average_3))
    return cohen_score_average_3

In [83]:
cohen_avg_3()

Average Cohen Kappa Score for annotation 111: 0.157

0.157

### Cohen_kappa average score of annotation 112

In [84]:
def cohen_avg_4():
    cohen_score_41 = cohen_kappa_score(annotation_4,annotation_1)
    cohen_score_42 = cohen_kappa_score(annotation_4,annotation_2)
    cohen_score_43 = cohen_kappa_score(annotation_4,annotation_3)
    cohen_score_average_4 = round((cohen_score_41 + cohen_score_42 + cohen_score_43)/3,3)
    print("Average Cohen Kappa Score for annotation 112:",(cohen_score_average_4))
    return cohen_score_average_4

In [85]:
cohen_avg_4()

Average Cohen Kappa Score for annotation 112: 0.407

0.407

##### If average cohen kappa score for any annotation is less than 0.2, we will drop it

In [86]:
def drop_annotate():
    average = [cohen_avg_1(), cohen_avg_2(),cohen_avg_3(),cohen_avg_4()]
    columns_name = ['annotation_109','annotation_110','annotation_111','annotation_112']
    #columns =[annotation_1,annotation_2,annotation_3,annotation_4]
    for i in range(0,len(average)):
        if average[i]< 0.2:
            print(columns_name[i])
            print(average[i])
            df_5.drop(columns_name[i], axis=1, inplace = True)
    print(df_5.head())

In [87]:
drop_annotate()

Average Cohen Kappa Score for annotation 109: 0.411
Average Cohen Kappa Score for annotation 110: 0.336
Average Cohen Kappa Score for annotation 111: 0.157
Average Cohen Kappa Score for annotation 112: 0.407
annotation_111
0.157
                                                text  annotation_112  \
0  Get CoVID Vaccines to Nepal ASAP and prevent a...            True
1                       Compensate Essential Workers           False
2  Amend Recent COVID-19 Restrictions for Persona...           False
3  Petition against COVID-19 & Quarantine Bill: S...           False
4  KCL Has Coronavirus Case: Petition to Have Onl...           False

   annotation_109  annotation_110
0            True            True
1           False            True
2           False           False
3           False           False
4           False           False

## change.org_topic_2_lockdowns.csv

In [88]:
df_6 = pd.read_csv(r'change.org_topic\change.org_topic_2_lockdowns.csv')
df_6.head()

,text,annotation_73,annotation_74,annotation_75,annotation_76
0,COVID-19 Awards,False,False,False,False
1,Cancel the 2020-2021 school year SOLs,True,True,False,True
2,..,False,False,False,False
3,Protect our nurses!,False,False,False,False
4,SENSELESS IMPRISONMENT FOR MY MOM.. FIRST TIME...,False,False,False,True

In [89]:
print(df_6['annotation_73'].isnull().sum())
print(df_6['annotation_74'].isnull().sum())
print(df_6['annotation_75'].isnull().sum())
print(df_6['annotation_76'].isnull().sum())
print(df_6['text'].isnull().sum())

0
0
0
0
0

In [90]:
annotation_1= df_6['annotation_73']
annotation_2= df_6['annotation_74']
annotation_3= df_6['annotation_75']
annotation_4= df_6['annotation_76']

### Cohen_kappa average score of annotation 73

In [91]:
def cohen_avg_1():
    cohen_score_12 = cohen_kappa_score(annotation_1,annotation_2)
    cohen_score_13 = cohen_kappa_score(annotation_1,annotation_3)
    cohen_score_14 = cohen_kappa_score(annotation_1,annotation_4)
    cohen_score_average_1 = round((cohen_score_12 + cohen_score_13 + cohen_score_14)/3,3)
    print("Average Cohen Kappa Score for annotation 73:",(cohen_score_average_1))
    return cohen_score_average_1

In [92]:
cohen_avg_1()

Average Cohen Kappa Score for annotation 73: 0.623

0.623

### Cohen_kappa average score of annotation 74

In [93]:
def cohen_avg_2():
    cohen_score_21 = cohen_kappa_score(annotation_2,annotation_1)
    cohen_score_23 = cohen_kappa_score(annotation_2,annotation_3)
    cohen_score_24 = cohen_kappa_score(annotation_2,annotation_4)
    cohen_score_average_2 = round((cohen_score_21 + cohen_score_23 + cohen_score_24)/3,3)
    print("Average Cohen Kappa Score for annotation 74:",(cohen_score_average_2))
    return cohen_score_average_2

In [94]:
cohen_avg_2()

Average Cohen Kappa Score for annotation 74: 0.643

0.643

### Cohen_kappa average score of annotation 75

In [95]:
def cohen_avg_3():
    cohen_score_31 = cohen_kappa_score(annotation_3,annotation_1)
    cohen_score_32 = cohen_kappa_score(annotation_3,annotation_2)
    cohen_score_34 = cohen_kappa_score(annotation_3,annotation_4)
    cohen_score_average_3 = round((cohen_score_31 + cohen_score_32 + cohen_score_34)/3,3)
    print("Average Cohen Kappa Score for annotation 75:",(cohen_score_average_3))
    return cohen_score_average_3

In [96]:
cohen_avg_3()

Average Cohen Kappa Score for annotation 75: 0.479

0.479

### Cohen_kappa average score of annotation 76

In [97]:
def cohen_avg_4():
    cohen_score_41 = cohen_kappa_score(annotation_4,annotation_1)
    cohen_score_42 = cohen_kappa_score(annotation_4,annotation_2)
    cohen_score_43 = cohen_kappa_score(annotation_4,annotation_3)
    cohen_score_average_4 = round((cohen_score_41 + cohen_score_42 + cohen_score_43)/3,3)
    print("Average Cohen Kappa Score for annotation 76:",(cohen_score_average_4))
    return cohen_score_average_4

In [98]:
cohen_avg_4()

Average Cohen Kappa Score for annotation 76: 0.648

0.648

##### If average cohen kappa score for any annotation is less than 0.2, we will drop it

In [99]:
def drop_annotate():
    average = [cohen_avg_1(), cohen_avg_2(),cohen_avg_3(),cohen_avg_4()]
    columns_name = ['annotation_73','annotation_74','annotation_75','annotation_76']
    #columns =[annotation_1,annotation_2,annotation_3,annotation_4]
    for i in range(0,len(average)):
        if average[i]< 0.2:
            print(columns_name[i])
            print(average[i])
            df_6.drop(columns_name[i], axis=1, inplace = True)
    print(df_6.head())

In [100]:
drop_annotate()

Average Cohen Kappa Score for annotation 73: 0.623
Average Cohen Kappa Score for annotation 74: 0.643
Average Cohen Kappa Score for annotation 75: 0.479
Average Cohen Kappa Score for annotation 76: 0.648
                                                text  annotation_73  \
0                                    COVID-19 Awards          False
1              Cancel the 2020-2021 school year SOLs           True
2                                                 ..          False
3                                Protect our nurses!          False
4  SENSELESS IMPRISONMENT FOR MY MOM.. FIRST TIME...          False

   annotation_74  annotation_75  annotation_76
0          False          False          False
1           True          False           True
2          False          False          False
3          False          False          False
4          False          False           True

## change.org_topic_2_masking_and_distancing.csv

In [101]:
df_7 = pd.read_csv(r'change.org_topic\change.org_topic_2_masking_and_distancing.csv')
df_7.head()

,text,annotation_73,annotation_74,annotation_75,annotation_76
0,COVID-19 Awards,False,False,False,False
1,Cancel the 2020-2021 school year SOLs,False,False,False,False
2,..,False,False,False,False
3,Protect our nurses!,False,False,False,False
4,SENSELESS IMPRISONMENT FOR MY MOM.. FIRST TIME...,False,False,False,False

In [102]:
print(df_7['annotation_73'].isnull().sum())
print(df_7['annotation_74'].isnull().sum())
print(df_7['annotation_75'].isnull().sum())
print(df_7['annotation_76'].isnull().sum())
print(df_7['text'].isnull().sum())

0
0
0
0
0

In [103]:
annotation_1= df_7['annotation_73']
annotation_2= df_7['annotation_74']
annotation_3= df_7['annotation_75']
annotation_4= df_7['annotation_76']

### Cohen_kappa average score of annotation 73

In [104]:
def cohen_avg_1():
    cohen_score_12 = cohen_kappa_score(annotation_1,annotation_2)
    cohen_score_13 = cohen_kappa_score(annotation_1,annotation_3)
    cohen_score_14 = cohen_kappa_score(annotation_1,annotation_4)
    cohen_score_average_1 = round((cohen_score_12 + cohen_score_13 + cohen_score_14)/3,3)
    print("Average Cohen Kappa Score for annotation 73:",(cohen_score_average_1))
    return cohen_score_average_1

In [105]:
cohen_avg_1()

Average Cohen Kappa Score for annotation 73: 0.204

0.204

### Cohen_kappa average score of annotation 74

In [106]:
def cohen_avg_2():
    cohen_score_21 = cohen_kappa_score(annotation_2,annotation_1)
    cohen_score_23 = cohen_kappa_score(annotation_2,annotation_3)
    cohen_score_24 = cohen_kappa_score(annotation_2,annotation_4)
    cohen_score_average_2 = round((cohen_score_21 + cohen_score_23 + cohen_score_24)/3,3)
    print("Average Cohen Kappa Score for annotation 74:",(cohen_score_average_2))
    return cohen_score_average_2

In [107]:
cohen_avg_2()

Average Cohen Kappa Score for annotation 74: 0.221

0.221

### Cohen_kappa average score of annotation 75

In [108]:
def cohen_avg_3():
    cohen_score_31 = cohen_kappa_score(annotation_3,annotation_1)
    cohen_score_32 = cohen_kappa_score(annotation_3,annotation_2)
    cohen_score_34 = cohen_kappa_score(annotation_3,annotation_4)
    cohen_score_average_3 = round((cohen_score_31 + cohen_score_32 + cohen_score_34)/3,3)
    print("Average Cohen Kappa Score for annotation 75:",(cohen_score_average_3))
    return cohen_score_average_3

In [109]:
cohen_avg_3()

Average Cohen Kappa Score for annotation 75: 0.0

0.0

### Cohen_kappa average score of annotation 76

In [110]:
def cohen_avg_4():
    cohen_score_41 = cohen_kappa_score(annotation_4,annotation_1)
    cohen_score_42 = cohen_kappa_score(annotation_4,annotation_2)
    cohen_score_43 = cohen_kappa_score(annotation_4,annotation_3)
    cohen_score_average_4 = round((cohen_score_41 + cohen_score_42 + cohen_score_43)/3,3)
    print("Average Cohen Kappa Score for annotation 76:",(cohen_score_average_4))
    return cohen_score_average_4

In [111]:
cohen_avg_4()

Average Cohen Kappa Score for annotation 76: 0.198

0.198

##### If average cohen kappa score for any annotation is less than 0.2, we will drop it

In [112]:
def drop_annotate():
    average = [cohen_avg_1(), cohen_avg_2(),cohen_avg_3(),cohen_avg_4()]
    columns_name = ['annotation_73','annotation_74','annotation_75','annotation_76']
    #columns =[annotation_1,annotation_2,annotation_3,annotation_4]
    for i in range(0,len(average)):
        if average[i]< 0.2:
            print("\n")
            print(columns_name[i])
            print(average[i])
            df_7.drop(columns_name[i], axis=1, inplace = True)
    print(df_7.head())

In [113]:
drop_annotate()

Average Cohen Kappa Score for annotation 73: 0.204
Average Cohen Kappa Score for annotation 74: 0.221
Average Cohen Kappa Score for annotation 75: 0.0
Average Cohen Kappa Score for annotation 76: 0.198


annotation_75
0.0


annotation_76
0.198
                                                text  annotation_73  \
0                                    COVID-19 Awards          False
1              Cancel the 2020-2021 school year SOLs          False
2                                                 ..          False
3                                Protect our nurses!          False
4  SENSELESS IMPRISONMENT FOR MY MOM.. FIRST TIME...          False

   annotation_74
0          False
1          False
2          False
3          False
4          False

## change.org_topic_2_vaccination.csv

In [114]:
df_8 = pd.read_csv(r'change.org_topic\change.org_topic_2_vaccination.csv')
df_8.head()

,text,annotation_73,annotation_74,annotation_75,annotation_76
0,COVID-19 Awards,False,False,False,False
1,Cancel the 2020-2021 school year SOLs,False,False,False,False
2,..,False,False,False,False
3,Protect our nurses!,False,False,False,False
4,SENSELESS IMPRISONMENT FOR MY MOM.. FIRST TIME...,False,False,False,False

In [115]:
print(df_8['annotation_73'].isnull().sum())
print(df_8['annotation_74'].isnull().sum())
print(df_8['annotation_75'].isnull().sum())
print(df_8['annotation_76'].isnull().sum())
print(df_8['text'].isnull().sum())

0
0
0
0
0

In [116]:
annotation_1= df_8['annotation_73']
annotation_2= df_8['annotation_74']
annotation_3= df_8['annotation_75']
annotation_4= df_8['annotation_76']

### Cohen_kappa average score of annotation 73

In [117]:
def cohen_avg_1():
    cohen_score_12 = cohen_kappa_score(annotation_1,annotation_2)
    cohen_score_13 = cohen_kappa_score(annotation_1,annotation_3)
    cohen_score_14 = cohen_kappa_score(annotation_1,annotation_4)
    cohen_score_average_1 = round((cohen_score_12 + cohen_score_13 + cohen_score_14)/3,3)
    print("Average Cohen Kappa Score for annotation 73:",(cohen_score_average_1))
    return cohen_score_average_1

In [118]:
cohen_avg_1()

Average Cohen Kappa Score for annotation 73: 0.652

0.652

### Cohen_kappa average score of annotation 74

In [119]:
def cohen_avg_2():
    cohen_score_21 = cohen_kappa_score(annotation_2,annotation_1)
    cohen_score_23 = cohen_kappa_score(annotation_2,annotation_3)
    cohen_score_24 = cohen_kappa_score(annotation_2,annotation_4)
    cohen_score_average_2 = round((cohen_score_21 + cohen_score_23 + cohen_score_24)/3,3)
    print("Average Cohen Kappa Score for annotation 74:",(cohen_score_average_2))
    return cohen_score_average_2

In [120]:
cohen_avg_2()

Average Cohen Kappa Score for annotation 74: 0.785

0.785

### Cohen_kappa average score of annotation 75

In [121]:
def cohen_avg_3():
    cohen_score_31 = cohen_kappa_score(annotation_3,annotation_1)
    cohen_score_32 = cohen_kappa_score(annotation_3,annotation_2)
    cohen_score_34 = cohen_kappa_score(annotation_3,annotation_4)
    cohen_score_average_3 = round((cohen_score_31 + cohen_score_32 + cohen_score_34)/3,3)
    print("Average Cohen Kappa Score for annotation 75:",(cohen_score_average_3))
    return cohen_score_average_3

In [122]:
cohen_avg_3()

Average Cohen Kappa Score for annotation 75: 0.583

0.583

### Cohen_kappa average score of annotation 76

In [123]:
def cohen_avg_4():
    cohen_score_41 = cohen_kappa_score(annotation_4,annotation_1)
    cohen_score_42 = cohen_kappa_score(annotation_4,annotation_2)
    cohen_score_43 = cohen_kappa_score(annotation_4,annotation_3)
    cohen_score_average_4 = round((cohen_score_41 + cohen_score_42 + cohen_score_43)/3,3)
    print("Average Cohen Kappa Score for annotation 76:",(cohen_score_average_4))
    return cohen_score_average_4

In [124]:
cohen_avg_4()

Average Cohen Kappa Score for annotation 76: 0.75

0.75

##### If average cohen kappa score for any annotation is less than 0.2, we will drop it

In [125]:
def drop_annotate():
    average = [cohen_avg_1(), cohen_avg_2(),cohen_avg_3(),cohen_avg_4()]
    columns_name = ['annotation_73','annotation_74','annotation_75','annotation_76']
    #columns =[annotation_1,annotation_2,annotation_3,annotation_4]
    for i in range(0,len(average)):
        if average[i]< 0.2:
            print("\n")
            print(columns_name[i])
            print(average[i])
            df_8.drop(columns_name[i], axis=1, inplace = True)
    print(df_8.head())

In [126]:
drop_annotate()

Average Cohen Kappa Score for annotation 73: 0.652
Average Cohen Kappa Score for annotation 74: 0.785
Average Cohen Kappa Score for annotation 75: 0.583
Average Cohen Kappa Score for annotation 76: 0.75
                                                text  annotation_73  \
0                                    COVID-19 Awards          False
1              Cancel the 2020-2021 school year SOLs          False
2                                                 ..          False
3                                Protect our nurses!          False
4  SENSELESS IMPRISONMENT FOR MY MOM.. FIRST TIME...          False

   annotation_74  annotation_75  annotation_76
0          False          False          False
1          False          False          False
2          False          False          False
3          False          False          False
4          False          False          False

## change.org_topic_3_lockdowns.csv

In [127]:
df_9 = pd.read_csv(r'change.org_topic\change.org_topic_3_lockdowns.csv')
df_9.head()

,text,annotation_48,annotation_49,annotation_50,annotation_47
0,Postpone CBSE Board Exams,True,False,False,True
1,Pay rise for paramedics and nurses,False,False,False,False
2,Too Soon To Open Georgia!,True,True,True,True
3,Request to reconsider DPS Ruby Park school tui...,True,False,False,True
4,Covid-19 Aesthetics / Salon / Massage Industry...,False,False,False,True

In [128]:
print(df_9['annotation_47'].isnull().sum())
print(df_9['annotation_48'].isnull().sum())
print(df_9['annotation_49'].isnull().sum())
print(df_9['annotation_50'].isnull().sum())
print(df_9['text'].isnull().sum())

0
0
0
0
0

In [129]:
annotation_1= df_9['annotation_47']
annotation_2= df_9['annotation_48']
annotation_3= df_9['annotation_49']
annotation_4= df_9['annotation_50']

### Cohen_kappa average score of annotation 47

In [130]:
def cohen_avg_1():
    cohen_score_12 = cohen_kappa_score(annotation_1,annotation_2)
    cohen_score_13 = cohen_kappa_score(annotation_1,annotation_3)
    cohen_score_14 = cohen_kappa_score(annotation_1,annotation_4)
    cohen_score_average_1 = round((cohen_score_12 + cohen_score_13 + cohen_score_14)/3,3)
    print("Average Cohen Kappa Score for annotation 47:",(cohen_score_average_1))
    return cohen_score_average_1

In [131]:
cohen_avg_1()

Average Cohen Kappa Score for annotation 47: 0.434

0.434

### Cohen_kappa average score of annotation 48

In [132]:
def cohen_avg_2():
    cohen_score_21 = cohen_kappa_score(annotation_2,annotation_1)
    cohen_score_23 = cohen_kappa_score(annotation_2,annotation_3)
    cohen_score_24 = cohen_kappa_score(annotation_2,annotation_4)
    cohen_score_average_2 = round((cohen_score_21 + cohen_score_23 + cohen_score_24)/3,3)
    print("Average Cohen Kappa Score for annotation 48:",(cohen_score_average_2))
    return cohen_score_average_2

In [133]:
cohen_avg_2()

Average Cohen Kappa Score for annotation 48: 0.42

0.42

### Cohen_kappa average score of annotation 49

In [134]:
def cohen_avg_3():
    cohen_score_31 = cohen_kappa_score(annotation_3,annotation_1)
    cohen_score_32 = cohen_kappa_score(annotation_3,annotation_2)
    cohen_score_34 = cohen_kappa_score(annotation_3,annotation_4)
    cohen_score_average_3 = round((cohen_score_31 + cohen_score_32 + cohen_score_34)/3,3)
    print("Average Cohen Kappa Score for annotation 49:",(cohen_score_average_3))
    return cohen_score_average_3

In [135]:
cohen_avg_3()

Average Cohen Kappa Score for annotation 49: 0.437

0.437

### Cohen_kappa average score of annotation 50

In [136]:
def cohen_avg_4():
    cohen_score_41 = cohen_kappa_score(annotation_4,annotation_1)
    cohen_score_42 = cohen_kappa_score(annotation_4,annotation_2)
    cohen_score_43 = cohen_kappa_score(annotation_4,annotation_3)
    cohen_score_average_4 = round((cohen_score_41 + cohen_score_42 + cohen_score_43)/3,3)
    print("Average Cohen Kappa Score for annotation 50:",(cohen_score_average_4))
    return cohen_score_average_4

In [137]:
cohen_avg_4()

Average Cohen Kappa Score for annotation 50: 0.455

0.455

##### If average cohen kappa score for any annotation is less than 0.2, we will drop it

In [138]:
def drop_annotate():
    average = [cohen_avg_1(), cohen_avg_2(),cohen_avg_3(),cohen_avg_4()]
    columns_name = ['annotation_47','annotation_48','annotation_49','annotation_50']
    #columns =[annotation_1,annotation_2,annotation_3,annotation_4]
    for i in range(0,len(average)):
        if average[i]< 0.2:
            print("\n")
            print(columns_name[i])
            print(average[i])
            df_9.drop(columns_name[i], axis=1, inplace = True)
    print(df_9.head())

In [139]:
drop_annotate()

Average Cohen Kappa Score for annotation 47: 0.434
Average Cohen Kappa Score for annotation 48: 0.42
Average Cohen Kappa Score for annotation 49: 0.437
Average Cohen Kappa Score for annotation 50: 0.455
                                                text  annotation_48  \
0                          Postpone CBSE Board Exams           True
1                 Pay rise for paramedics and nurses          False
2                          Too Soon To Open Georgia!           True
3  Request to reconsider DPS Ruby Park school tui...           True
4  Covid-19 Aesthetics / Salon / Massage Industry...          False

   annotation_49  annotation_50  annotation_47
0          False          False           True
1          False          False          False
2           True           True           True
3          False          False           True
4          False          False           True

## change.org_topic_3_masking_and_distancing.csv

In [140]:
df_10 = pd.read_csv(r'change.org_topic\change.org_topic_3_masking_and_distancing.csv')
df_10.head()

,text,annotation_48,annotation_49,annotation_50,annotation_47
0,Postpone CBSE Board Exams,False,False,False,False
1,Pay rise for paramedics and nurses,False,False,False,False
2,Too Soon To Open Georgia!,False,False,False,False
3,Request to reconsider DPS Ruby Park school tui...,False,False,False,False
4,Covid-19 Aesthetics / Salon / Massage Industry...,False,False,False,False

In [141]:
print(df_10['annotation_47'].isnull().sum())
print(df_10['annotation_48'].isnull().sum())
print(df_10['annotation_49'].isnull().sum())
print(df_10['annotation_50'].isnull().sum())
print(df_10['text'].isnull().sum())

0
0
0
0
0

In [142]:
annotation_1= df_10['annotation_47']
annotation_2= df_10['annotation_48']
annotation_3= df_10['annotation_49']
annotation_4= df_10['annotation_50']

### Cohen_kappa average score of annotation 47

In [143]:
def cohen_avg_1():
    cohen_score_12 = cohen_kappa_score(annotation_1,annotation_2)
    cohen_score_13 = cohen_kappa_score(annotation_1,annotation_3)
    cohen_score_14 = cohen_kappa_score(annotation_1,annotation_4)
    cohen_score_average_1 = round((cohen_score_12 + cohen_score_13 + cohen_score_14)/3,3)
    print("Average Cohen Kappa Score for annotation 47:",(cohen_score_average_1))
    return cohen_score_average_1

In [144]:
cohen_avg_1()

Average Cohen Kappa Score for annotation 47: 0.403

0.403

### Cohen_kappa average score of annotation 48

In [145]:
def cohen_avg_2():
    cohen_score_21 = cohen_kappa_score(annotation_2,annotation_1)
    cohen_score_23 = cohen_kappa_score(annotation_2,annotation_3)
    cohen_score_24 = cohen_kappa_score(annotation_2,annotation_4)
    cohen_score_average_2 = round((cohen_score_21 + cohen_score_23 + cohen_score_24)/3,3)
    print("Average Cohen Kappa Score for annotation 48:",(cohen_score_average_2))
    return cohen_score_average_2

In [146]:
cohen_avg_2()

Average Cohen Kappa Score for annotation 48: 0.365

0.365

### Cohen_kappa average score of annotation 49

In [147]:
def cohen_avg_3():
    cohen_score_31 = cohen_kappa_score(annotation_3,annotation_1)
    cohen_score_32 = cohen_kappa_score(annotation_3,annotation_2)
    cohen_score_34 = cohen_kappa_score(annotation_3,annotation_4)
    cohen_score_average_3 = round((cohen_score_31 + cohen_score_32 + cohen_score_34)/3,3)
    print("Average Cohen Kappa Score for annotation 49:",(cohen_score_average_3))
    return cohen_score_average_3

In [148]:
cohen_avg_3()

Average Cohen Kappa Score for annotation 49: 0.494

0.494

### Cohen_kappa average score of annotation 50

In [149]:
def cohen_avg_4():
    cohen_score_41 = cohen_kappa_score(annotation_4,annotation_1)
    cohen_score_42 = cohen_kappa_score(annotation_4,annotation_2)
    cohen_score_43 = cohen_kappa_score(annotation_4,annotation_3)
    cohen_score_average_4 = round((cohen_score_41 + cohen_score_42 + cohen_score_43)/3,3)
    print("Average Cohen Kappa Score for annotation 50:",(cohen_score_average_4))
    return cohen_score_average_4

In [150]:
cohen_avg_4()

Average Cohen Kappa Score for annotation 50: 0.467

0.467

##### If average cohen kappa score for any annotation is less than 0.2, we will drop it

In [151]:
def drop_annotate():
    average = [cohen_avg_1(), cohen_avg_2(),cohen_avg_3(),cohen_avg_4()]
    columns_name = ['annotation_47','annotation_48','annotation_49','annotation_50']
    #columns =[annotation_1,annotation_2,annotation_3,annotation_4]
    for i in range(0,len(average)):
        if average[i]< 0.2:
            print("\n")
            print(columns_name[i])
            print(average[i])
            df_10.drop(columns_name[i], axis=1, inplace = True)
    print(df_10.head())

In [152]:
drop_annotate()

Average Cohen Kappa Score for annotation 47: 0.403
Average Cohen Kappa Score for annotation 48: 0.365
Average Cohen Kappa Score for annotation 49: 0.494
Average Cohen Kappa Score for annotation 50: 0.467
                                                text  annotation_48  \
0                          Postpone CBSE Board Exams          False
1                 Pay rise for paramedics and nurses          False
2                          Too Soon To Open Georgia!          False
3  Request to reconsider DPS Ruby Park school tui...          False
4  Covid-19 Aesthetics / Salon / Massage Industry...          False

   annotation_49  annotation_50  annotation_47
0          False          False          False
1          False          False          False
2          False          False          False
3          False          False          False
4          False          False          False

## change.org_topic_3_vaccination.csv

In [153]:
df_11 = pd.read_csv(r'change.org_topic\change.org_topic_3_vaccination.csv')
df_11.head()

,text,annotation_48,annotation_49,annotation_50,annotation_47
0,Postpone CBSE Board Exams,False,False,False,False
1,Pay rise for paramedics and nurses,False,False,False,False
2,Too Soon To Open Georgia!,False,False,False,False
3,Request to reconsider DPS Ruby Park school tui...,False,False,False,False
4,Covid-19 Aesthetics / Salon / Massage Industry...,False,False,False,False

In [154]:
print(df_11['annotation_47'].isnull().sum())
print(df_11['annotation_48'].isnull().sum())
print(df_11['annotation_49'].isnull().sum())
print(df_11['annotation_50'].isnull().sum())
print(df_11['text'].isnull().sum())

0
0
0
0
0

In [155]:
annotation_1= df_11['annotation_47']
annotation_2= df_11['annotation_48']
annotation_3= df_11['annotation_49']
annotation_4= df_11['annotation_50']

### Cohen_kappa average score of annotation 47

In [156]:
def cohen_avg_1():
    cohen_score_12 = cohen_kappa_score(annotation_1,annotation_2)
    cohen_score_13 = cohen_kappa_score(annotation_1,annotation_3)
    cohen_score_14 = cohen_kappa_score(annotation_1,annotation_4)
    cohen_score_average_1 = round((cohen_score_12 + cohen_score_13 + cohen_score_14)/3,3)
    print("Average Cohen Kappa Score for annotation 47:",(cohen_score_average_1))
    return cohen_score_average_1

In [157]:
cohen_avg_1()

Average Cohen Kappa Score for annotation 47: 0.524

0.524

### Cohen_kappa average score of annotation 48

In [158]:
def cohen_avg_2():
    cohen_score_21 = cohen_kappa_score(annotation_2,annotation_1)
    cohen_score_23 = cohen_kappa_score(annotation_2,annotation_3)
    cohen_score_24 = cohen_kappa_score(annotation_2,annotation_4)
    cohen_score_average_2 = round((cohen_score_21 + cohen_score_23 + cohen_score_24)/3,3)
    print("Average Cohen Kappa Score for annotation 48:",(cohen_score_average_2))
    return cohen_score_average_2

In [159]:
cohen_avg_2()

Average Cohen Kappa Score for annotation 48: 0.388

0.388

### Cohen_kappa average score of annotation 49

In [160]:
def cohen_avg_3():
    cohen_score_31 = cohen_kappa_score(annotation_3,annotation_1)
    cohen_score_32 = cohen_kappa_score(annotation_3,annotation_2)
    cohen_score_34 = cohen_kappa_score(annotation_3,annotation_4)
    cohen_score_average_3 = round((cohen_score_31 + cohen_score_32 + cohen_score_34)/3,3)
    print("Average Cohen Kappa Score for annotation 49:",(cohen_score_average_3))
    return cohen_score_average_3

In [161]:
cohen_avg_3()

Average Cohen Kappa Score for annotation 49: 0.605

0.605

### Cohen_kappa average score of annotation 50

In [162]:
def cohen_avg_4():
    cohen_score_41 = cohen_kappa_score(annotation_4,annotation_1)
    cohen_score_42 = cohen_kappa_score(annotation_4,annotation_2)
    cohen_score_43 = cohen_kappa_score(annotation_4,annotation_3)
    cohen_score_average_4 = round((cohen_score_41 + cohen_score_42 + cohen_score_43)/3,3)
    print("Average Cohen Kappa Score for annotation 50:",(cohen_score_average_4))
    return cohen_score_average_4

In [163]:
cohen_avg_4()

Average Cohen Kappa Score for annotation 50: 0.562

0.562

##### If average cohen kappa score for any annotation is less than 0.2, we will drop it

In [164]:
def drop_annotate():
    average = [cohen_avg_1(), cohen_avg_2(),cohen_avg_3(),cohen_avg_4()]
    columns_name = ['annotation_47','annotation_48','annotation_49','annotation_50']
    #columns =[annotation_1,annotation_2,annotation_3,annotation_4]
    for i in range(0,len(average)):
        if average[i]< 0.2:
            print(columns_name[i])
            print(average[i])
            df_11.drop(columns_name[i], axis=1, inplace = True)
    print(df_11.head())

In [165]:
drop_annotate()

Average Cohen Kappa Score for annotation 47: 0.524
Average Cohen Kappa Score for annotation 48: 0.388
Average Cohen Kappa Score for annotation 49: 0.605
Average Cohen Kappa Score for annotation 50: 0.562
                                                text  annotation_48  \
0                          Postpone CBSE Board Exams          False
1                 Pay rise for paramedics and nurses          False
2                          Too Soon To Open Georgia!          False
3  Request to reconsider DPS Ruby Park school tui...          False
4  Covid-19 Aesthetics / Salon / Massage Industry...          False

   annotation_49  annotation_50  annotation_47
0          False          False          False
1          False          False          False
2          False          False          False
3          False          False          False
4          False          False          False

## change.org_topic_4_lockdowns.csv

In [166]:
df_12 = pd.read_csv(r'change.org_topic\change.org_topic_4_lockdowns.csv')
df_12.head()

,text,annotation_43,annotation_44,annotation_45,annotation_46
0,Save Western Ghats from annihilation,True,False,False,False
1,Save Beacon Hill Park,True,False,False,False
2,Government of India: Don't Tax Medical Bills,True,False,False,False
3,NO FAILING @ UCR,True,False,False,False
4,WIAA - Let them play football!,True,False,True,False

In [167]:
print(df_12['annotation_43'].isnull().sum())
print(df_12['annotation_44'].isnull().sum())
print(df_12['annotation_45'].isnull().sum())
print(df_12['annotation_46'].isnull().sum())
print(df_12['text'].isnull().sum())

0
0
0
0
0

In [168]:
annotation_1= df_12['annotation_43']
annotation_2= df_12['annotation_44']
annotation_3= df_12['annotation_45']
annotation_4= df_12['annotation_46']

### Cohen_kappa average score of annotation 43

In [169]:
def cohen_avg_1():
    cohen_score_12 = cohen_kappa_score(annotation_1,annotation_2)
    cohen_score_13 = cohen_kappa_score(annotation_1,annotation_3)
    cohen_score_14 = cohen_kappa_score(annotation_1,annotation_4)
    cohen_score_average_1 = round((cohen_score_12 + cohen_score_13 + cohen_score_14)/3,3)
    print("Average Cohen Kappa Score for annotation 43:",(cohen_score_average_1))
    return cohen_score_average_1

In [170]:
cohen_avg_1()

Average Cohen Kappa Score for annotation 43: 0.095

0.095

### Cohen_kappa average score of annotation 44

In [171]:
def cohen_avg_2():
    cohen_score_21 = cohen_kappa_score(annotation_2,annotation_1)
    cohen_score_23 = cohen_kappa_score(annotation_2,annotation_3)
    cohen_score_24 = cohen_kappa_score(annotation_2,annotation_4)
    cohen_score_average_2 = round((cohen_score_21 + cohen_score_23 + cohen_score_24)/3,3)
    print("Average Cohen Kappa Score for annotation 44:",(cohen_score_average_2))
    return cohen_score_average_2

In [172]:
cohen_avg_2()

Average Cohen Kappa Score for annotation 44: 0.36

0.36

### Cohen_kappa average score of annotation 45

In [173]:
def cohen_avg_3():
    cohen_score_31 = cohen_kappa_score(annotation_3,annotation_1)
    cohen_score_32 = cohen_kappa_score(annotation_3,annotation_2)
    cohen_score_34 = cohen_kappa_score(annotation_3,annotation_4)
    cohen_score_average_3 = round((cohen_score_31 + cohen_score_32 + cohen_score_34)/3,3)
    print("Average Cohen Kappa Score for annotation 45:",(cohen_score_average_3))
    return cohen_score_average_3

In [174]:
cohen_avg_3()

Average Cohen Kappa Score for annotation 45: 0.38

0.38

### Cohen_kappa average score of annotation 46

In [175]:
def cohen_avg_4():
    cohen_score_41 = cohen_kappa_score(annotation_4,annotation_1)
    cohen_score_42 = cohen_kappa_score(annotation_4,annotation_2)
    cohen_score_43 = cohen_kappa_score(annotation_4,annotation_3)
    cohen_score_average_4 = round((cohen_score_41 + cohen_score_42 + cohen_score_43)/3,3)
    print("Average Cohen Kappa Score for annotation 46:",(cohen_score_average_4))
    return cohen_score_average_4

In [176]:
cohen_avg_4()

Average Cohen Kappa Score for annotation 46: 0.386

0.386

##### If average cohen kappa score for any annotation is less than 0.2, we will drop it

In [177]:
def drop_annotate():
    average = [cohen_avg_1(), cohen_avg_2(),cohen_avg_3(),cohen_avg_4()]
    columns_name = ['annotation_43','annotation_44','annotation_45','annotation_46']
    #columns =[annotation_1,annotation_2,annotation_3,annotation_4]
    for i in range(0,len(average)):
        if average[i]< 0.2:
            print(columns_name[i])
            print(average[i])
            df_12.drop(columns_name[i], axis=1, inplace = True)
    print(df_12.head())

In [178]:
drop_annotate()

Average Cohen Kappa Score for annotation 43: 0.095
Average Cohen Kappa Score for annotation 44: 0.36
Average Cohen Kappa Score for annotation 45: 0.38
Average Cohen Kappa Score for annotation 46: 0.386
annotation_43
0.095
                                           text  annotation_44  annotation_45  \
0          Save Western Ghats from annihilation          False          False
1                         Save Beacon Hill Park          False          False
2  Government of India: Don't Tax Medical Bills          False          False
3                              NO FAILING @ UCR          False          False
4                WIAA - Let them play football!          False           True

   annotation_46
0          False
1          False
2          False
3          False
4          False

## change.org_topic_4_masking_and_distancing.csv

In [179]:
df_13 = pd.read_csv(r'change.org_topic\change.org_topic_4_masking_and_distancing.csv')
df_13.head()

,text,annotation_43,annotation_44,annotation_45,annotation_46
0,Save Western Ghats from annihilation,False,False,False,False
1,Save Beacon Hill Park,False,False,False,False
2,Government of India: Don't Tax Medical Bills,False,False,False,False
3,NO FAILING @ UCR,False,False,False,False
4,WIAA - Let them play football!,False,True,False,False

In [180]:
print(df_13['annotation_43'].isnull().sum())
print(df_13['annotation_44'].isnull().sum())
print(df_13['annotation_45'].isnull().sum())
print(df_13['annotation_46'].isnull().sum())
print(df_13['text'].isnull().sum())

0
0
0
0
0

### Cohen_kappa average score of annotation 43

In [181]:
def cohen_avg_1():
    cohen_score_12 = cohen_kappa_score(annotation_1,annotation_2)
    cohen_score_13 = cohen_kappa_score(annotation_1,annotation_3)
    cohen_score_14 = cohen_kappa_score(annotation_1,annotation_4)
    cohen_score_average_1 = round((cohen_score_12 + cohen_score_13 + cohen_score_14)/3,3)
    print("Average Cohen Kappa Score for annotation 43:",(cohen_score_average_1))
    return cohen_score_average_1

In [182]:
cohen_avg_1()

Average Cohen Kappa Score for annotation 43: 0.095

0.095

### Cohen_kappa average score of annotation 44

In [183]:
def cohen_avg_2():
    cohen_score_21 = cohen_kappa_score(annotation_2,annotation_1)
    cohen_score_23 = cohen_kappa_score(annotation_2,annotation_3)
    cohen_score_24 = cohen_kappa_score(annotation_2,annotation_4)
    cohen_score_average_2 = round((cohen_score_21 + cohen_score_23 + cohen_score_24)/3,3)
    print("Average Cohen Kappa Score for annotation 44:",(cohen_score_average_2))
    return cohen_score_average_2

In [184]:
cohen_avg_2()

Average Cohen Kappa Score for annotation 44: 0.36

0.36

### Cohen_kappa average score of annotation 45

In [185]:
def cohen_avg_3():
    cohen_score_31 = cohen_kappa_score(annotation_3,annotation_1)
    cohen_score_32 = cohen_kappa_score(annotation_3,annotation_2)
    cohen_score_34 = cohen_kappa_score(annotation_3,annotation_4)
    cohen_score_average_3 = round((cohen_score_31 + cohen_score_32 + cohen_score_34)/3,3)
    print("Average Cohen Kappa Score for annotation 45:",(cohen_score_average_3))
    return cohen_score_average_3

In [186]:
cohen_avg_3()

Average Cohen Kappa Score for annotation 45: 0.38

0.38

### Cohen_kappa average score of annotation 46

In [187]:
def cohen_avg_4():
    cohen_score_41 = cohen_kappa_score(annotation_4,annotation_1)
    cohen_score_42 = cohen_kappa_score(annotation_4,annotation_2)
    cohen_score_43 = cohen_kappa_score(annotation_4,annotation_3)
    cohen_score_average_4 = round((cohen_score_41 + cohen_score_42 + cohen_score_43)/3,3)
    print("Average Cohen Kappa Score for annotation 46:",(cohen_score_average_4))
    return cohen_score_average_4

In [188]:
cohen_avg_4()

Average Cohen Kappa Score for annotation 46: 0.386

0.386

##### If average cohen kappa score for any annotation is less than 0.2, we will drop it

In [189]:
def drop_annotate():
    average = [cohen_avg_1(), cohen_avg_2(),cohen_avg_3(),cohen_avg_4()]
    columns_name = ['annotation_43','annotation_44','annotation_45','annotation_46']
    #columns =[annotation_1,annotation_2,annotation_3,annotation_4]
    for i in range(0,len(average)):
        if average[i]< 0.2:
            print(columns_name[i])
            print(average[i])
            df_13.drop(columns_name[i], axis=1, inplace = True)
    print(df_13.head())

In [190]:
drop_annotate()

Average Cohen Kappa Score for annotation 43: 0.095
Average Cohen Kappa Score for annotation 44: 0.36
Average Cohen Kappa Score for annotation 45: 0.38
Average Cohen Kappa Score for annotation 46: 0.386
annotation_43
0.095
                                           text  annotation_44  annotation_45  \
0          Save Western Ghats from annihilation          False          False
1                         Save Beacon Hill Park          False          False
2  Government of India: Don't Tax Medical Bills          False          False
3                              NO FAILING @ UCR          False          False
4                WIAA - Let them play football!           True          False

   annotation_46
0          False
1          False
2          False
3          False
4          False

## change.org_topic_4_vaccination.csv

In [191]:
df_14 = pd.read_csv(r'change.org_topic\change.org_topic_4_vaccination.csv')
df_14.head()

,text,annotation_43,annotation_44,annotation_45,annotation_46
0,Save Western Ghats from annihilation,False,False,False,False
1,Save Beacon Hill Park,False,False,False,False
2,Government of India: Don't Tax Medical Bills,False,False,False,False
3,NO FAILING @ UCR,False,False,False,False
4,WIAA - Let them play football!,False,False,False,False

In [192]:
print(df_14['annotation_43'].isnull().sum())
print(df_14['annotation_44'].isnull().sum())
print(df_14['annotation_45'].isnull().sum())
print(df_14['annotation_46'].isnull().sum())
print(df_14['text'].isnull().sum())

0
0
0
0
0

### Cohen_kappa average score of annotation 43

In [193]:
def cohen_avg_1():
    cohen_score_12 = cohen_kappa_score(annotation_1,annotation_2)
    cohen_score_13 = cohen_kappa_score(annotation_1,annotation_3)
    cohen_score_14 = cohen_kappa_score(annotation_1,annotation_4)
    cohen_score_average_1 = round((cohen_score_12 + cohen_score_13 + cohen_score_14)/3,3)
    print("Average Cohen Kappa Score for annotation 43:",(cohen_score_average_1))
    return cohen_score_average_1

In [194]:
cohen_avg_1()

Average Cohen Kappa Score for annotation 43: 0.095

0.095

### Cohen_kappa average score of annotation 44

In [195]:
def cohen_avg_2():
    cohen_score_21 = cohen_kappa_score(annotation_2,annotation_1)
    cohen_score_23 = cohen_kappa_score(annotation_2,annotation_3)
    cohen_score_24 = cohen_kappa_score(annotation_2,annotation_4)
    cohen_score_average_2 = round((cohen_score_21 + cohen_score_23 + cohen_score_24)/3,3)
    print("Average Cohen Kappa Score for annotation 44:",(cohen_score_average_2))
    return cohen_score_average_2

In [196]:
cohen_avg_2()

Average Cohen Kappa Score for annotation 44: 0.36

0.36

### Cohen_kappa average score of annotation 45

In [197]:
def cohen_avg_3():
    cohen_score_31 = cohen_kappa_score(annotation_3,annotation_1)
    cohen_score_32 = cohen_kappa_score(annotation_3,annotation_2)
    cohen_score_34 = cohen_kappa_score(annotation_3,annotation_4)
    cohen_score_average_3 = round((cohen_score_31 + cohen_score_32 + cohen_score_34)/3,3)
    print("Average Cohen Kappa Score for annotation 45:",(cohen_score_average_3))
    return cohen_score_average_3

In [198]:
cohen_avg_3()

Average Cohen Kappa Score for annotation 45: 0.38

0.38

### Cohen_kappa average score of annotation 46

In [199]:
def cohen_avg_4():
    cohen_score_41 = cohen_kappa_score(annotation_4,annotation_1)
    cohen_score_42 = cohen_kappa_score(annotation_4,annotation_2)
    cohen_score_43 = cohen_kappa_score(annotation_4,annotation_3)
    cohen_score_average_4 = round((cohen_score_41 + cohen_score_42 + cohen_score_43)/3,3)
    print("Average Cohen Kappa Score for annotation 46:",(cohen_score_average_4))
    return cohen_score_average_4

In [200]:
cohen_avg_4()

Average Cohen Kappa Score for annotation 46: 0.386

0.386

##### If average cohen kappa score for any annotation is less than 0.2, we will drop it

In [201]:
def drop_annotate():
    average = [cohen_avg_1(), cohen_avg_2(),cohen_avg_3(),cohen_avg_4()]
    columns_name = ['annotation_43','annotation_44','annotation_45','annotation_46']
    #columns =[annotation_1,annotation_2,annotation_3,annotation_4]
    for i in range(0,len(average)):
        if average[i]< 0.2:
            print(columns_name[i])
            print(average[i])
            df_14.drop(columns_name[i], axis=1, inplace = True)
    print(df_14.head())

In [202]:
drop_annotate()

Average Cohen Kappa Score for annotation 43: 0.095
Average Cohen Kappa Score for annotation 44: 0.36
Average Cohen Kappa Score for annotation 45: 0.38
Average Cohen Kappa Score for annotation 46: 0.386
annotation_43
0.095
                                           text  annotation_44  annotation_45  \
0          Save Western Ghats from annihilation          False          False
1                         Save Beacon Hill Park          False          False
2  Government of India: Don't Tax Medical Bills          False          False
3                              NO FAILING @ UCR          False          False
4                WIAA - Let them play football!          False          False

   annotation_46
0          False
1          False
2          False
3          False
4          False